{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<section class="row previewCart">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row totalItemsCart">
            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv prewviewCartContainer">
                <div class="row">
                    <div class="col-lx-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h1>Mi Carrito</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="row itemCartContainer">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 imageBuyCart">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <img src="https://via.placeholder.com/950x680.png?">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 pricesDetailsContainer">
                                <div class="row editCartContains">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 offset-9">
                                        <p><a href=""><i class="fas fa-pencil-alt"></i></a> <a href="#"><i class="far fa-trash-alt"></i></a></p>
                                    </div>
                                </div>
                                <div class="row imagePriceDetails">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <h4 class="imageName">Nombre de la Imagen:</h4>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                        <h5 class="imagePrice">$ 129.99</h5>
                                    </div>
                                </div>
                                <div class="row framePriceDetails">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <h4><i class="fas fa-plus"></i> Tipo de marco:</h4>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                        <h5 class="framePrice">$ 179.99</h5>
                                    </div>
                                </div>
                                <div class="row marginPriceDetails">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <h4><i class="fas fa-plus"></i> Tipo de Marialuisa:</h4>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                        <h5 class="marginPrice">$ 39.99</h5>
                                    </div>
                                </div>
                                <div class="row shippingPriceDetails">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <h4><i class="fas fa-plus"></i> Envío:</h4>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                        <h5 class="shippingPrice">$ 99.99</h5>
                                    </div>
                                </div>
                                <div class="row totalPriceDetails">
                                    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-6 offset-lg-4 offset-md-2">
                                        <h4>Subtotal: <span class="totalPrice">$ 449.96</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row itemCartContainer">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 imageBuyCart">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <img src="https://via.placeholder.com/950x680.png?">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 pricesDetailsContainer">
                                <div class="row editCartContains">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 offset-9">
                                        <p><a href=""><i class="fas fa-pencil-alt"></i></a> <a href="#"><i class="far fa-trash-alt"></i></a></p>
                                    </div>
                                </div>
                                <div class="row imagePriceDetails">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <h4 class="imageName">Nombre de la Imagen:</h4>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                        <h5 class="imagePrice">$ 129.99</h5>
                                    </div>
                                </div>
                                <div class="row framePriceDetails">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <h4><i class="fas fa-plus"></i> Digital:</h4>
                                    </div>
                                </div>
                                <div class="row totalPriceDetails">
                                    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-6 offset-lg-4 offset-md-2">
                                        <h4>Subtotal: <span class="totalPrice">$ 129.99</span></h4>
                                    </div>
                                </div>
                                <div class="row totalPriceDetails">
                                    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-6 offset-lg-4 offset-md-2">
                                        <a href="#" class="btn generalBtn"><i class="fas fa-plus"></i> Agrega un marco a tu foto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="row continueToPayment">
                            <div class="col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12 centerDiv continuePaymentContent">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h4>Total: <span> $579.95</span></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 paymentMethodTitle">
                                        <p>Elige un metodo de pago:</p>
                                    </div>
                                </div>
                                <form class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 paymentMethods">
                                        <div class="row cc-selector">
                                            <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4 col-4 paymentMethod">
                                                <input id="oxxoPayment" type="radio" name="paymentMethod" value="oxxoPayment" />
                                                <label class="drinkcard-cc oxxo" for="oxxoPayment"></label>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4 col-4 paymentMethod">
                                                <input id="cardPayment" type="radio" name="paymentMethod" value="cardPayment" />
                                                <label class="drinkcard-cc cardImage" for="cardPayment"></label>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4 col-4 paymentMethod">
                                                <input id="speiPayment" type="radio" name="paymentMethod" value="speiPayment" />
                                                <label class="drinkcard-cc spei" for="speiPayment"></label>
                                            </div>
                                        </div>
                                        <!--De acuerdo con la seleccion de usuario, se muestra la opción de pago-->
                                        <div class="row oxxoPaymentSelected">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <p>Pago en OXXO:</p>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <select class="form-control">
                                                            <option selected disabled>Elige una Direccion:</option>
                                                            <option>Agustín Melgar #27 Colonia Condesa CDMX</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <a href="#" class="btn generalBtn"><i class="fas fa-plus"></i> Agregar dirección</a>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <input type="text" placeholder="Codigo de Promoción" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <a href="#" class="btn generalBtn">Aplicar código</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cardPaymentSelected">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <p>Pago con Tarjeta:</p>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <select class="form-control">
                                                            <option selected disabled>Elige una tarjeta:</option>
                                                            <option>**** **** **** 5353</option>
                                                            <option>**** **** **** 4242</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <a href="#" class="btn generalBtn"><i class="fas fa-plus"></i> Agregar tarjeta</a>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <select class="form-control">
                                                            <option selected disabled>Elige una Direccion:</option>
                                                            <option>Agustín Melgar #27 Colonia Condesa CDMX</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <a href="#" class="btn generalBtn"><i class="fas fa-plus"></i> Agregar dirección</a>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <input type="text" placeholder="Codigo de Promoción" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <a href="#" class="btn generalBtn">Aplicar código</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row speiPaymentSelected">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <p>Pago por SPEI:</p>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <select class="form-control">
                                                            <option selected disabled>Elige una Direccion:</option>
                                                            <option>Agustín Melgar #27 Colonia Condesa CDMX</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <a href="#" class="btn generalBtn"><i class="fas fa-plus"></i> Agregar dirección</a>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <input type="text" placeholder="Codigo de Promoción" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <a href="#" class="btn generalBtn">Aplicar código</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--De acuerdo con la seleccion de usuario, se muestra la opción de pago-->
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <a href="#" class="btn generalBtn">Realizar Pago</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}