{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<section class="row profileEdit">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-11 col-11 centerDiv">
            <div class="row">
                <div class="col-12">
                    <h3>Editar Perfil</h3>
                </div>
            </div>
            <div class="row profileEditPhoto">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 editProfileImage">
                    <div class="row">
                        <div class="col-12">
                            <img src="images/52475675_10216002426126828_3273778910877188096_n.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Subir foto de portada</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="file" name="file" id="file" class="inputfile" />
                            <label for="file" class="btn generalBtn"><i class="far fa-file"></i> Cambiar portada</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="cards.html" class="btn generalBtn"><i class="far fa-credit-card"></i> Mis datos de pago</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="addresses.html" class="btn generalBtn"><i class="far fa-address-book"></i> Mis direcciones</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 profileEditData">
                    <div class="row editData">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label>Nombre:</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <input type="text" value="Alejandro Figueroa Gonzalez" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row editData">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label>Correo Electrónico:</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <input type="text" value="afigueroa@softicsolutions.mx" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row editData">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label>Contraseña:</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <input type="password" value="************" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row editData">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label>Fecha de Nacimiento:</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <input type="text" value="Sin datos" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row editData">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label>Genero:</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <input type="text" value="Sin datos" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row editData">
                        <div class="col-xl-3 offset-xl-9 col-lg-3 offset-lg-9 col-md-3 offset-md-9 offset- col-sm-12 col-12">
                            <a href="#" class="btn generalBtn">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}