{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 centerDiv">
                        <div class="row constructionTitle">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h1>Ocurrio un error en la descarga.</h1>
                            </div>
                        </div>
                        <div class="row constructionTitle">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <p style="color: red; font-size: large">{{ error }}</p>
                            </div>
                        </div>
                        <div class="row underConstructionRow">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <img src="{% static 'images/underConstLogo.svg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

