{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="row exclusiveRow">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 centerDiv">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h1>Fotos exclusivas</h1>
                    </div>
                </div>
                <div class="row exclusiveGallery">
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv masonryContainer">
                        <div id="listaFotos" class="card-columns">
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?nature" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/300/09f.png/fff" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image cap">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/728x90.png?" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/680x950.png?" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?wood" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/420x350.png?" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?nature" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/550x780.png?" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image cap">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?wood" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?wood" alt="Card image top">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $('document').ready(function() {
        /*   LISTAR FOTOS, pendiente de WS
        $.ajax({
            url: "/ws/list_categorias/",
            type: "GET",
            cache: false,
            success: function(json) {
                for (i in json) {
                    $('#listaFotos').append(`
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/daily?wood" alt="Card image top">
                        </div>`
                    );
                }
            }
        })
        */
    });

</script>
{% endblock %}