{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<section class="row frameSelectionContainer">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-11 col-11 centerDiv">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h1>Compra para impresión y envío</h1>
                    </div>
                </div>
                <div class="row frameSizeSelectionContent">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 frameImage">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <img src="{{producto.foto.foto_muestra.url}}">
                            </div>
                        </div>
                        <!--
                        <div class="row btnPreviewModal">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <a href="#" class="btn generalBtn specialBtn" data-toggle="modal" data-target="#galleryModal">Ver Imagen</a>
                            </div>
                        </div>-->
                    </div>
                    <div id="stages" class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 frameSelection">
                        <div id="stage1">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 frameSelectionTitle">
                                    <h5>Paso 1. Selecciona un tamaño para tu imagen</h5>
                                </div>
                            </div>
                            <div class="row cc-selector frameSizesSelection" id="container_tamanios">
                                <!--
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <input id="frameXs" type="radio" name="frameSelection" value="frameXs" onclick="setStage1(1)" />
                                    <label class="drinkcard-cc sizeSelection xs" for="frameXs"></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <input id="frameSm" type="radio" name="frameSelection" value="frameSm" onclick="setStage1(2)" />
                                    <label class="drinkcard-cc sizeSelection sm" for="frameSm"></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <input id="frameMd" type="radio" name="frameSelection" value="frameMd" onclick="setStage1(3)" />
                                    <label class="drinkcard-cc sizeSelection md" for="frameMd"></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <input id="frameLg" type="radio" name="frameSelection" value="frameLg" onclick="setStage1(4)" />
                                    <label class="drinkcard-cc sizeSelection lg" for="frameLg"></label>
                                </div>
                                -->
                            </div>
                            <!-- <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 centerDiv">
                                    <a href="#" class="btn generalBtn">Continuar</a>
                                </div>
                            </div> -->

                        </div>
                        <div id="stage2" style="display:none">
                            <div class="row paperSelection">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h5>Paso 2. Selecciona el tipo de papel</h5>
                                        </div>
                                    </div>
                                    <div class="row paperSelectionContent">
                                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div id="paperCarousel" class="owl-carousel owl-theme">

                                                        <!--
                <div class="d-flex justify-content-center" >
                    <div class="btn-group btn-group-lg text-center">
                            <button type="button" class="btn btn-primary">Apple</button>
                            <button type="button" class="btn btn-primary">Samsung</button>
                            <button type="button" class="btn btn-primary">Sony</button>
                    </div>
                </div>
-->
                                                        <!--
                                                        <div class="item">
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="row">
                                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 paperFrame" onclick="setStage2(1)">
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 paperdetails">
                                                                        <p>Grosor: 5mm<br>$0.00</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="row">
                                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 paperFrame"></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 paperdetails">
                                                                        <p>Grosor: 1mm<br>$0.00</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="row">
                                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 paperFrame"></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 paperdetails">
                                                                        <p>Grosor: 2mm<br>$0.00</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 centerDiv">
                                                    <a href="#" class="btn generalBtn" onclick="returnStage(2)">Regresar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="stage3" style="display:none">
                            <div class="row woodenFrameContainer">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h5>Paso 3. Selecciona un marco</h5>
                                        </div>
                                    </div>
                                    <div class="row woodenFrameSelection">
                                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div id="woodenFrameCarousel" class="owl-carousel owl-theme">
                                                        <!--
                                                        <div class="item">
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="row frameImageSelector">
                                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                        <img onclick="setStage3(1)" style="cursor:pointer" src="/static/images/frame1.png">
                                                                    </div>
                                                                </div>
                                                                <div class="row frameImageDetails">
                                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                        <h5>$176.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="row frameImageSelector">
                                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                        <a href="#"><img src="/static/images/frame2.png"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="row frameImageDetails">
                                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                        <h5>$176.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="item">
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="row frameImageSelector">
                                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                        <a href="#"><img src="/static/images/frame3.png"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="row frameImageDetails">
                                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                        <h5>$176.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 centerDiv">
                                                    <a href="#" class="btn generalBtn" onclick="returnStage(3)">Regresar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="stage4" style="display:none">
                            <div class="row marginSelectionContainer">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h5>Paso 4. Selecciona una marialuisa</h5>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 centerDiv">
                                            <label for="tamanio_maria_luisa">Tamaño de maria luisa</label>
                                            <select class="form-control" id="tamanio_maria_luisa">
                                                <option>3cm</option>
                                                <option>5cm</option>
                                                <option>10cm</option>
                                            </select>
                                        </div>
                                    </div>
                                    -->
                                    <div class="row">
                                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv">
                                            <div class="row">
                                                <div class="col-lx-12 col-lg-12 col-md-12 col-sm-12 col-12 centerDiv">
                                                    <div id="marginCarousel" class="owl-carousel owl-theme">
                                                        <!-- <div class="item">
                                                            <div class="row">
                                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noMargin">
                                                                    <a href="#"><img src="/static/images/dont.svg"></a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                    <h5>Sin marialuisa</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="row">
                                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                    <a href="#"><img src="/static/images/margin1.png"></a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                    <h5>$12.00</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="row">
                                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                    <a href="#"><img src="/static/images/margin2.png"></a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                    <h5>$12.00</h5>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 centerDiv">
                                                            <a href="#" class="btn generalBtn" onclick="returnStage(4)">Regresar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row btnPreviewModal">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <a id="showSimulacion" onclick="marcoSimulador()" href="#" class="btn generalBtn specialBtn" data-toggle="modal" data-target="#galleryModal" style="display: none">Simulación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- El de arriba cierra seccion marco -->
                </div>
                <div id="cont_precio" style="float: right">
                    <p>Subtotal $<span id="precio_total">0.00</span> MXN</p>
                    <button id="guardarM" class="btn generalBtn" style="cursor:pointer;" onclick="guardarMarco()">Guardar</button>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Gallery Modal -->
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="GalleryModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tu Fotografía</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="gallerySimulator" class="carousel slide" data-ride="carousel">
                    <div id="simuladorCarrusel" class="carousel-inner">
                        <div id="item1" class="carousel-item active" data-interval="1000000">
                            <img src="{% static 'images/previews/preview1.jpg' %}" class="d-block w-100 baseImage" alt="...">
                            <!-- <div class="frameHorizontal">
                                <img src="{% static 'images/marcos/Caravaggio/ME1CO_1.png' %}" class="horFrame">
                                <img src="{% static 'images/Marialuisas/B7-150_1.png' %}" class="horframeBack">
                                <img src="{% static 'images/previews/prevHor.jpg' %}" class="fullImageFramedHor">
                            </div> -->
                        </div>
                        <div id="item2" class="carousel-item" data-interval="1000000">
                            <img src="{% static 'images/previews/preview2.jpg' %}" class="d-block w-100" alt="...">
                            <!-- <div class="frameVertical">
                                <img src="{% static 'images/marcos/Caravaggio/ME2CO_1.png' %}" class="verFrame">
                                <img src="{% static 'images/Marialuisas/B7-150_1.png' %}" class="verframeBack">
                                <img src="{% static 'images/previews/prevVer.jpg' %}" class="smallImageFramedVer">
                            </div> -->
                        </div>
                       {% comment %} <div id="item3" class="carousel-item" data-interval="1000000">
                            <img src="{% static 'images/previews/preview2.jpg' %}" class="d-block w-100" alt="...">
                            <div class="frameVertical">
                                <img src="{% static 'images/marcos/Caravaggio/ME2CO_1.png' %}" class="verFrame"><!--Marco-->
                                <img src="{% static 'images/Marialuisas/B7-150_1.png' %}" class="verframeBack"><!--Marialuisa-->
                                <img src="{% static 'images/previews/prevVer.jpg' %}" class="smallImageFramedVer"><!--Imagen-->
                            </div>
                        </div>{% endcomment %}
                    </div>


                    <!--<a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>-->
                    <ol id="indicators" class='carousel-indicators mCustomScrollbar'>
                        <li data-target="#gallerySimulator" data-slide-to="0" class='active'><img src="{% static 'images/previews/preview1.jpg' %}" alt='' /></li>
                        <li data-target='#gallerySimulator' data-slide-to='1'><img src="{% static 'images/previews/preview2.jpg' %}" alt="" /></li>

                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn specialBtn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/crsfajax.js' %}"></script>
<script>
    let precioTamanio;
    let sizeClasses = ['lg', 'md', 'sm', 'xs']
    let sizeIds = ['frameLg', 'frameMd', 'frameSm', 'frameXs'];
    let marco_select = null;
    let maLuisa = null;

    $('document').ready(function() {
        $.ajax({
            url: "/ws/listar_tamanios?producto=" + {{ producto.pk }},
            type: "GET",
            cache: false,
            success: function(json) {
                console.log('tamanios', json)
                for (const [i, obj] of json.entries()) {

                    $('#container_tamanios').append(`
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <input id="` + sizeIds[i] + `" type="radio" name="frameSelection" value="` + sizeIds[i] + `" onclick="setStage1(` + obj.tamanio.pk + `,` + obj.precio + `,` + obj.pk + `)" />
                            <label class="drinkcard-cc sizeSelection ` + sizeClasses[i] + `" for="` + sizeIds[i] + `"></label>
                                <h5>` + obj.tamanio.nombre + `</h5>
                                <h5>$` + obj.precio + `</h5>
                        </div>

                    `)
                }
            }
        })

    })


    var estadosSimulador = {
        res_stage1: null,
        res_stage2: null,
        res_stage3: null,
        res_stage4: null,
        precio1: 0,
        precio2: 0,
        precio3: 0,
        precio4: 0
    }

    function setStage1(res, precio, idPrecio) {
        precioTamanio = idPrecio;
        estadosSimulador.res_stage1 = res;
        estadosSimulador.precio1 = precio;
        listar_tipos_papel();
        hideStages(2)
        updatePrice();
    }

    function setStage2(res, precio) {
        estadosSimulador.res_stage2 = res;
        estadosSimulador.precio2 = precio;
        listar_marcos()
        hideStages(3);
        updatePrice();
    }

    function setStage3(res, precio, imgH, imgV) {
        estadosSimulador.res_stage3 = res;
        estadosSimulador.precio3 = precio;

        var orientacion_img = "{{ producto.foto.orientacion.nombre }}";
        if (orientacion_img == 'Horizontal') {
            marco_select = imgH
        } else {
            marco_select = imgV
        }
        console.log(marco_select);
        hideStages(4);
        listar_tipos_mariaLuisa();
        updatePrice();
    }

    function setStage4(res, precio, img) {
        estadosSimulador.res_stage4 = res;
        estadosSimulador.precio4 = precio;
        maLuisa = img;
        $('#showSimulacion').show();
        $('#guardarM').show();
        updatePrice();
    }

    function returnStage(actualStage) {
        window['estadosSimulador']["res_stage" + (actualStage - 1)] = 0;
        window['estadosSimulador']["precio" + (actualStage - 1)] = 0;
        hideStages(actualStage - 1)
        updatePrice();
    }

    function hideStages(exception) {
        for (var i = 1; i < 5; i++) { // stages length
            $('#stage' + i).hide();
        }
        $('#stage' + exception).show();
    }

    function updatePrice() {
        let total = 0 + estadosSimulador.precio1 + estadosSimulador.precio2 + estadosSimulador.precio3 + estadosSimulador.precio4 - 0;
        $('#precio_total').text(total);
    }

    function listar_tipos_papel() {
        $.ajax({
            url: "/ws/listar_tipos_papel?tamanio=" + estadosSimulador.res_stage1,
            type: "GET",
            cache: false,
            success: function(json) {
                // $('#paperCarousel').empty();

                var length = $('#paperCarousel, .item').length;
                for (var i = 0; i < length; i++) {
                    $("#paperCarousel").trigger('remove.owl.carousel', [i])
                        .trigger('refresh.owl.carousel');
                }

                console.log('paperCarousel', json)
                for (const [i, obj] of json.entries()) {
                    let html = `
                       <div class="item">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 paperFrame" onclick="setStage2(` + obj.pk + ',' + obj.precio + `)">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 paperdetails">
                                        <p>` + obj.tipo_papel.nombre + `<br>$` + obj.precio + `</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `


                    $('#paperCarousel').owlCarousel().trigger('add.owl.carousel', [jQuery(html)]).trigger('refresh.owl.carousel')

                }
            }
        })
    }

    function listar_marcos() {
        $.ajax({
            url: "/ws/listar_marcos?tamanio=" + estadosSimulador.res_stage1,
            type: "GET",
            cache: false,
            success: function(json) {
                var length = $('#woodenFrameCarousel, .item').length;
                for (var i = 0; i < length; i++) {
                    $(".woodenFrameCarousel").trigger('remove.owl.carousel', [i])
                        .trigger('refresh.owl.carousel');
                }
                for (let obj of json) {
                    console.log('stage3', obj)
                    let html = `
                        <div class="item ">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row frameImageSelector">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                         <img onclick="setStage3(` + obj.id + ',' + obj.precio + ", '" + obj.imagen_horizontal + "', '" + obj.imagen_vertical + `')" style="cursor:pointer" src="` + obj.imagen_vertical + `">
                                    </div>
                                </div>
                                <div class="row frameImageDetails">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h5>$` + obj.precio + `</h5>
                                    </div>
                                </divlist_fotos_recomendadas>
                            </div>
                        </div>
                    `
                    $('#woodenFrameCarousel').owlCarousel().trigger('add.owl.carousel', [jQuery(html)]).trigger('refresh.owl.carousel')

                    // ', ' + obj.imagen_horizontal + ' , ' + obj.imagen_vertical +
                }
            }
        })
    }

    {% comment %} < img onclick = "setStage3(` + obj.id + ',' + obj.precio + ',' + obj.imagen_horizontal + ',' + typeof obj.imagen_vertical + `)"
    style = "cursor:pointer"
    src = " {% static 'images/Marcos/Dali/ME2DI.png'  %} " > {% endcomment %}


    function listar_tipos_mariaLuisa() {
        $.ajax({
            url: "/ws/listar_marialuisa?tamanio=" + estadosSimulador.res_stage1,
            type: "GET",
            cache: false,
            success: function(json) {
                var length = $('#marginCarousel, .item').length;
                for (var i = 0; i < length; i++) {
                    $("#marginCarousel").trigger('remove.owl.carousel', [i])
                        .trigger('refresh.owl.carousel');
                }

                console.log('tipos ma luisa', json)
                //            $('#marginCarousel').empty();
                for (const [i, obj] of json.entries()) {
                    let html = `
                        <div class="item ">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row frameImageSelector">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                          <img onclick="setStage4(` + obj.id + ',' + obj.precio + ", '" + obj.imagen + `')" style="cursor:pointer" src="` + obj.imagen + `">

                                    </div>
                                </div>
                                <div class="row frameImageDetails">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h5>$` + obj.precio + `</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `
                    $('#marginCarousel').owlCarousel().trigger('add.owl.carousel', [jQuery(html)]).trigger('refresh.owl.carousel')

                }
            }
        })
    }


    function marcoSimulador() {
        let orientacion = "{{ producto.foto.orientacion.nombre }}"
        // $("#simuladorCarrusel").carousel("pause").removeData();

        if (orientacion == "Horizontal") {
            $('#cont_item1').empty();
            $('#item1').append(`
            <div class="frameHorizontal" id="cont_item1">` +
                '<img src="' + marco_select + '" class="horFrame">' +
                `
                <!-- marialuisa -->
                <img src="` + maLuisa + `" class="horframeBack" style="top:40px">
                <!-- foto de usuario -->
                <img src="{{producto.foto.foto_muestra.url}}" class="medImageFramedHor" style="top:60px">
            </div>
        `);
            $('#cont_item2').empty();
            $('#item2').append(`
            <div class="frameHorizontal" id="cont_item2">>` +
                '<img src="' + marco_select + '" class="horFrame">' +
                `
                <!-- marialuisa -->
                <img src="` + maLuisa + `" class="horframeBack" style="top:40px">
                <!-- foto de usuario -->
                <img src="{{producto.foto.foto_muestra.url}}" class="medImageFramedHor" style="top:60px">
            </div>
        `)


            $('#simuladorCarrusel').append(`
        <div class="carousel-item" data-interval="1000000">
            <img src="{% static 'images/previews/preview1.jpg' %}" class="d-block w-100 baseImage" alt="...">
            <div class="frameHorizontal">

                <img src="{% static 'images/marcos/Caravaggio/ME1CO_1.png' %}" class="horFrame" style="top:-20px">
                <!-- marialuisa -->
                <img src="{% static 'images/Marialuisas/B7-150_1.png' %}" class="horframeBack">
                <!-- foto de usuario -->
                <img src="{% static 'images/previews/prevHor.jpg' %}" class="medImageFramedHor">
            </div>
        </div>
        `)
        } else {
            $('#cont_item1').empty()
            $('#item1').append(`
            <div class="frameVertical" id="cont_item1">>` +
                '<img src="' + marco_select + '" class="verFrame" style="top:10px">' +
                `
                <!-- marialuisa -->
            <img src="` + maLuisa + `" class="verframeBack" style="top:0px">
            <!-- foto de usuario -->
            <img src="{{producto.foto.foto_muestra.url}}" class="medImageFramedVer" style="top:31px">
            </div>
            `)

            $('#cont_item2').empty()
            $('#item2').append(`
            <div class="frameVertical" id="cont_item2">>` +
                '<img src="' + marco_select + '" class="verFrame" style="top:10px">' +
                `
            <img src="` + maLuisa + `" class="verframeBack" style="top:0px">
            <img src="{{producto.foto.foto_muestra.url}}" class="medImageFramedVer" style="top:31px">
            </div>
            `)



            $('#simuladorCarrusel').append(`
        <div class="carousel-item" data-interval="1000000">
            <img src="{% static 'images/previews/preview1.jpg' %}" class="d-block w-100 baseImage" alt="...">
            <div class="frameHorizontal">
            <img src="{% static 'images/marcos/Caravaggio/ME1CO_1.png' %}" class="verFrame">
                <!-- marialuisa -->
            < img src = "{% static 'images/Marialuisas/B7-150_1.png' %}" class= "verframeBack" >
            <!-- foto de usuario -->
            < img src = "{% static 'images/previews/prevHor.jpg' %}" class = "fullImageFramedVer" >
        < /div>
    < /div>
        `)
        }




    }

    function guardarMarco() {
        let datos = {
            producto: {{ producto.pk }},
            papel_impresion: estadosSimulador.res_stage2,
            marco: estadosSimulador.res_stage3,
            precio_tamanio: precioTamanio,
            maria_luisa: estadosSimulador.res_stage4
        }
        console.log(datos)
        $.ajax({
            url: "/ws/modificar_producto_carrito/",
            type: "POST",
            cache: false,
            data: datos,
            success: function(json) {
                console.log('exito!', json)
                alert("Foto añadida exitosamente al carrito")
            }
        });
    }

</script>

{% endblock %}
