{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


<section class="row promosCarousel">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv">
                <img class="card-img-top" src="https://via.placeholder.com/728x250.png?" alt="Card image top">
            </div>
        </div>
    </div>
</section>
<section class="row userProfile">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-11 col-11 centerDiv">
                <div class="row profileDataContainer">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 profilePicture">
                        <div class="profilePictureContainer">
                            <img src="{% static 'images/52475675_10216002426126828_3273778910877188096_n.jpg'%}">
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 profileData">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 profileName">
                                <h2>{{ fotografo.nombre }}</h2>
                                <button style="cursor: pointer" onclick="seguir()" class="btn generalBtn specialBtn">
                                    Seguir</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="row">
                                    <div class="col-4">
                                        <p id="num_fotos">325 <br>fotos</p>
                                    </div>
                                    <div class="col-4">
                                        <p id="num_seguidores">425<br>seguidores</p>
                                    </div>
                                    <div class="col-4">
                                        <p id="num_siguiendo">325<br>siguiendo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="row masonryGallery">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv masonryContainer">
                                <div class="card-columns" id="sec1_fotos">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>
<script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/crsfajax.js' %}"></script>
<script>

$('document').ready(function(){
        $.ajax({
            url: "/ws/list_fotos_home/",
            type: "GET",
            cache: false,
            success: function (json) {
                console.log(json)
                for (let [idx, i] of json.results.entries()) {
                    $('#sec1_fotos').append(`
                        <div class="card">
                            <a href= "/webapp/foto/` + i.pk + `"><img class="card-img-top" src="` + i.foto_home + `" alt="Card image top"
                            ></a>
                        </div>
                    `)
                }
                // Si usa paginador usar esto

                // if (json.next) {
                //     $.ajax({
                //         url: json.next,
                //         type: "GET",
                //         cache: false,
                //         success: function (json2) {
                //             console.log('EN JSON 2',json2)
                //             for (let [idx, j] of json2.results.entries()) {
                //                 $('#sec2_fotos').append(`
                //                 <div class="card">
                //                     <a href= "/webapp/foto/` + j.pk + `"><img class="card-img-top" src="` + j.foto_home + `" alt="Card image top"
                //                     ></a>
                //                 </div>
                //                 `)
                //             }
                //             url_next_foto = json2.next
                //             if (!url_next_foto) {
                //                 $('#ver_mas').hide();
                //             }
                //         }
                //     })
                // }

            }
        })
    });
    

    function seguir() {
        let data = {
            fotopartner : 3, // obtener pk
            seguir: true
        }
        $.ajax({
            url: "/ws/seguir/",
            type: "POST",
            cache: false,
            success: function (json) {
                console.log(json)
            }
        });
    }
</script>
{% endblock %}