{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


<section class="row promosCarousel">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv">
                {% if fotografo.foto_portada %}
                <img class="card-img-top" src="{{ fotografo.foto_portada.url }}" alt="Card image top">
                {% else %}
                <img class="card-img-top" src="https://via.placeholder.com/728x250.png?" alt="Card image top">
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="row userProfile">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-11 col-11 centerDiv">
                <div class="row ">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 profilePicture">
                        <div class="profilePictureContainer">
                            {% if user.foto_perfil %} 
                            <img src="{{ fotografo.foto_perfil.url }}">
                            {% else %}
                            <img src="{% static 'images/52475675_10216002426126828_3273778910877188096_n.jpg'%}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 profileData">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 profileName">
                                <h2>{{ fotografo.nombre }}</h2>
                                <button id="seguir" style="cursor: pointer" onclick="seguir()" class="btn generalBtn specialBtn">
                                    Seguir</button>
                                <button id="noseguir" style="display: none; cursor: pointer" onclick="noseguir()" class="btn generalBtn noSeguirBtn">
                                    Dejar de seguir</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="row">
                                    <div class="col-4">
                                        <p id="num_fotos">{{ cantidad_fotos }} <br>fotos</p>
                                    </div>
                                    <div class="col-4">
                                        <p><span id="num_seguidores">{{ fotografo.seguidores }}</span><br>seguidores</p>
                                    </div>
                                    <div class="col-4">
                                        <p id="num_siguiendo">{{ cant_siguiendo }}<br>siguiendo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="row masonryGallery">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv masonryContainer">
                                <div class="card-columns" id="sec1_fotos">
                                    {% for foto in fotos %}
                                       <div class="card">
                            <a href="{%  url 'webapp:vista_foto' foto.pk %}"><img class="card-img-top" src="{{ foto.foto_home.url }}" alt="Card image top"
                            ></a>
                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>
<script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/crsfajax.js' %}"></script>
<script>


$('document').ready(function(){
    });

    function test() {
        console.log(Number($('#num_seguidores').text()), typeof Number($('#num_seguidores').text()))
    }

    function seguir() {
        let data = {
            fotopartner : "{{ fotografo.pk }}" , // obtener pk
            seguir: true
        }
        $.ajax({
            url: "/ws/seguir/",
            type: "POST",
            cache: false,
            data: data,
            success: function (json) {
                $('#num_seguidores').text(Number($('#num_seguidores').text()))
                console.log(json)
                $('#seguir').hide();
                $('#noseguir').show();
            },
             error: function (xhr, errmsg, err) {
                $('#seguir').hide();
                $('#noseguir').show();
             }
        });
    }

    function noseguir() {
        let data = {
            fotopartner : "{{ fotografo.pk }}" , // obtener pk
            seguir: false
        }
        $.ajax({
            url: "/ws/seguir/",
            type: "POST",
            cache: false,
            data: data,
            success: function (json) {
               $('#noseguir').hide();
               $('#seguir').show();
            }

        });
    }

</script>
{% endblock %}