/*To up breakpoints*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .profileToggle:nth-child(2) {
        border-right: solid 4px #FFB600;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .profileToggle:nth-child(2) {
        border-right: none;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}


/*Reverse Breakpoinsts*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .footerMenu {
        text-align: center;
    }

    .profileToggle {
        border-right: solid 4px #FFB600;
    }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    .footerMenu {
        text-align: center !important;
        border-right: none !important;
    }

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    header {
        padding: 25px 15px 15px;
    }

    header .logoContainer {
        margin-bottom: 1rem;
    }

    .categoryDropContainer {
        margin-bottom: 2rem !important;
    }

    .shoppingCartContainer {
        text-align: center;
    }

    .shoppingCartContainer i {
        margin-right: 2rem;
    }

    .loginContainer .generalBtn,
    .signUpContainer .generalBtn {
        margin-bottom: 1rem;
    }

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}


/*Exact Breakpoints*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .profileData,
    .profileFollowers {
        text-align: center;
    }

    .footer .footerMenu {
        border-right: none;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .profileData,
    .profileFollowers {
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
