{% extends "config/base.html" %}
{% load widget_tweaks %}

{% block content %}




    {#        <h3>{{ titulo }}</h3>#}
    {##}
    {#        <span>{{ instrucciones }}</span>#}
    {#        <!-- INFORMACION PERSONAL -->#}
    {#        {% csrf_token %}#}
    {#        {% for field in form %}#}
    {#            {% if field.field.required %}#}
    {#                <p>#}
    {#                    {% render_field field class+="validate" placeholder=field.label required='required' data-validation-required-message="Este campo es requerido" %}#}
    {#                    <label for="{{ field.auto_id }}">*{{ field.label }}</label>#}
    {#                </p>#}
    {#            {% else %}#}
    {#                <p>#}
    {#                    {% render_field field class+="validate" placeholder=field.label %}#}
    {#                    <label for="{{ field.auto_id }}">{{ field.label }}</label>#}
    {#                </p>#}
    {#            {% endif %}#}
    {#        {% endfor %}#}
    {#        <div class="row">#}
    {#            <p style="color: darkred"><b><u>{{ error }}</u></b></p>#}
    {#        </div>#}
    {#        {% if messages %}#}
    {#            <ul class="messages">#}
    {#                {% for message in messages %}#}
    {#                    <li class="{{ message.tags }}">{{ message }}</li>#}
    {#                {% endfor %}#}
    {#            </ul>#}
    {#        {% endif %}#}
    {#        {% if form.errors %}#}
    {#            {% for field in form %}#}
    {#                {% for error in field.errors %}#}
    {#                    <strong class="box_error">{{ field.label }}{{ error|escape }}</strong>#}
    {#                {% endfor %}#}
    {#            {% endfor %}#}
    {#            {% for error in form.non_field_errors %}#}
    {#                <strong class="box_error">{{ error|escape }}</strong>#}
    {#            {% endfor %}#}
    {#        {% endif %}#}
    {##}
    {##}
    {#        <div class="row">#}
    {#            <div>#}
    {#                <button type="submit" name="action">Guardar#}
    {#                </button>#}
    {#            </div>#}
    {#        </div>#}
    {#    </form>#}


    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 centerDiv">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1>{{ titulo }}</h1>
                            <p>{{ instrucciones }}</p>
                        </div>
                    </div>
                    <form class="row" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    {% for field in form %}
                                        <div class="row formsContainer">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 centerDiv">
                                                {% if field.field.required %}
                                                    {% if field|field_type == 'booleanfield' %}
                                                        <label for="{{ field.auto_id }}">* {{ field.label }}</label>
                                                        {% render_field field class+="validate" placeholder=field.label required='required' data-validation-required-message="Este campo es requerido" %}
                                                        {% for error in field.errors %}
                                                            <div class="invalid-feedback"><span>{{ error|escape }}</span></div>
                                                        {% endfor %}
                                                        <div class="valid-feedback">Looks good!</div>
                                                    {% else %}
                                                        <label for="{{ field.auto_id }}">* {{ field.label }}</label>
                                                        {% render_field field class+="validate form-control" placeholder=field.label required='required' data-validation-required-message="Este campo es requerido" %}
                                                        {% for error in field.errors %}
                                                            <div class="invalid-feedback"><span>{{ error|escape }}</span></div>
                                                        {% endfor %}
                                                        <div class="valid-feedback">Looks good!</div>
                                                    {% endif %}
                                                {% else %}
                                                    {% if field|field_type == 'booleanfield' %}
                                                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                                        {% render_field field class+="validate" placeholder=field.label required='required' data-validation-required-message="Este campo es requerido" %}
                                                        {% for error in field.errors %}
                                                            <div class="invalid-feedback"><span>{{ error|escape }}</span></div>
                                                        {% endfor %}
                                                        <div class="valid-feedback">Looks good!</div>
                                                    {% else %}
                                                        {% render_field field class+="validate form-control" placeholder=field.label %}
                                                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                                        {% for error in field.errors %}
                                                            <div class="invalid-feedback"><span>{{ error|escape }}</span></div>
                                                        {% endfor %}
                                                        <div class="valid-feedback">Looks good!</div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <p class="{{ message.tags }}">{{ message }}</p>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 offset-xl-4 offset-lg-4 offset-md-4">
                                    <button class="btn generalBtn" type="submit" name="action"><i
                                            class="far fa-save"></i> Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $("document").ready(function () {
            $('.invalid-feedback').show();
        });
    </script>
{% endblock %}





