{% extends "config/base.html" %}
{% load widget_tweaks %}

{% block content %}


    <form method="post" enctype="multipart/form-data">

        <h3>{{ titulo }}</h3>

        <span>{{ instrucciones }}</span>
        <!-- INFORMACION PERSONAL -->
        {% csrf_token %}
        {% for field in form %}
            {% if field.field.required %}
                <p>
                    {% render_field field class+="validate" placeholder=field.label required='required' data-validation-required-message="Este campo es requerido" %}
                    <label for="{{ field.auto_id }}">*{{ field.label }}</label>
                </p>
            {% else %}
                <p>
                    {% render_field field class+="validate" placeholder=field.label %}
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                </p>
            {% endif %}
        {% endfor %}
        <div class="row">
            <p style="color: darkred"><b><u>{{ error }}</u></b></p>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <strong class="box_error">{{ field.label }}{{ error|escape }}</strong>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <strong class="box_error">{{ error|escape }}</strong>
            {% endfor %}
        {% endif %}


        <div class="row">
            <div>
                <button type="submit" name="action">Guardar
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $("document").ready(function () {

        });
    </script>
{% endblock %}





