{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="SHORTCUT ICON" href="{% static 'favicon.png'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/breakpoints.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.green.min.css'%}">
    <title>Fotofertas - Registro</title>
</head>

<body>
    <div class="container-fluid loginMainSection">
        <section class="row masonryGallery">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 centerDiv masonryContainer">
                        <div class="card-columns">
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?nature" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/300/09f.png/fff" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image cap">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/728x90.png?" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/680x950.png?" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?wood" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/420x350.png?" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?nature" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/550x780.png?" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image cap">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?rock" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?wood" alt="Card image top">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://source.unsplash.com/daily?wood" alt="Card image top">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="signInMainContainer">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11 loginBox centerDiv">
                    <div class="row">
                        <div class="col-12 logoContainer">
                            <svg x="0px" y="0px" viewBox="0 0 500 362">
                                <path class="logoSquare1" d="M371.9,218.3H149c-11.3,0-20.5-9.2-20.5-20.5V66.4h243.4V218.3z" />
                                <rect x="128.5" y="66.4" class="logoSquare2" width="243.4" height="58" />
                                <rect x="136.8" y="35.8" class="logoSquare1" width="35.5" height="22.1" />
                                <path class="logoSquare3" d="M41.1,269.6h-5.5c-0.1,0-0.2-0.1-0.2-0.2v-9.9c0-0.1,0.1-0.2,0.2-0.2h5.5c0.1,0,0.2-0.1,0.2-0.2v-8.6
                                       c0-6.4,1.5-11,4.5-14.1c2.9-2.8,6.6-4.2,11.1-4.2h7.3c0.1,0,0.2,0.1,0.2,0.2v12.2c0,0.1-0.1,0.2-0.2,0.2h-6.4
                                       c-3.5-0.1-5.1,1.7-5,5.6v8.7c0,0.1,0.1,0.2,0.2,0.2h11.2c0.1,0,0.2,0.1,0.2,0.2v9.9c0,0.1-0.1,0.2-0.2,0.2H52.9
                                       c-0.1,0-0.2,0.1-0.2,0.2V326c0,0.1-0.1,0.2-0.2,0.2h-5.9c-3,0-5.4-2.8-5.4-6.2v-50.3C41.3,269.6,41.2,269.6,41.1,269.6z" />
                                <path class="logoSquare3" d="M69.1,297.2c0-6.1,0.5-10.8,1.5-14.1c1-3.2,2.6-5.9,4.7-8.1c1.6-1.9,3.8-3.6,6.6-5.2
                                       c2.8-1.4,6.4-2.2,10.8-2.3c4.5,0.1,8.2,0.8,11,2.3c2.8,1.5,4.9,3.3,6.4,5.2c2.3,2.2,3.9,4.9,4.8,8.1c0.9,3.3,1.4,8,1.4,14.1
                                       c0,6.1-0.5,10.8-1.4,14c-1,3.2-2.6,6-4.9,8.3c-0.7,0.9-1.6,1.7-2.7,2.5c-1,0.9-2.2,1.7-3.7,2.4c-2.8,1.6-6.4,2.4-11,2.5
                                       c-4.4-0.1-8-0.9-10.7-2.5c-2.8-1.5-5-3.1-6.6-4.9c-2.1-2.3-3.7-5.1-4.7-8.3C69.6,307.9,69.1,303.3,69.1,297.2z M104.8,297.3
                                       c0-4.1-0.2-7.2-0.6-9.1c-0.4-1.8-1.1-3.4-2.3-4.8c-0.8-1.3-2.1-2.3-3.8-3.1c-1.6-0.8-3.4-1.2-5.5-1.2c-2,0-3.8,0.4-5.4,1.2
                                       c-1.6,0.7-2.9,1.8-3.9,3.1c-1,1.4-1.7,3-2.2,4.8c-0.4,1.9-0.7,4.9-0.7,9c0,4,0.2,7,0.7,8.8c0.4,1.9,1.2,3.6,2.2,5
                                       c1,1.1,2.3,2.1,3.9,3c1.7,0.8,3.5,1.2,5.4,1.2c2.1,0,3.9-0.4,5.5-1.2c1.7-0.9,2.9-1.8,3.8-3c1.1-1.5,1.9-3.1,2.3-5
                                       C104.6,304.2,104.8,301.2,104.8,297.3z" />
                                <path class="logoSquare3" d="M128.4,238.9h6c3,0,5.4,2.8,5.4,6.2v14.2h8.4v10.3h-8.4v39c-0.1,3.4,1.3,5.1,4.1,5h4.3v12.6h-6
                                       c-4,0-7.3-1.5-9.9-4.4c-2.6-2.8-4-6.8-4-12.1v-40.1h-5.8v-10.3h5.8V238.9z" />
                                <path class="logoSquare3" d="M155.3,297.2c0-6.1,0.5-10.8,1.5-14.1c1-3.2,2.6-5.9,4.7-8.1c1.6-1.9,3.8-3.6,6.6-5.2
                                       c2.8-1.4,6.4-2.2,10.8-2.3c4.5,0.1,8.2,0.8,11,2.3c2.8,1.5,4.9,3.3,6.4,5.2c2.3,2.2,3.9,4.9,4.8,8.1c0.9,3.3,1.4,8,1.4,14.1
                                       c0,6.1-0.5,10.8-1.4,14c-1,3.2-2.6,6-4.9,8.3c-0.7,0.9-1.6,1.7-2.7,2.5c-1,0.9-2.2,1.7-3.7,2.4c-2.8,1.6-6.4,2.4-11,2.5
                                       c-4.4-0.1-8-0.9-10.7-2.5c-2.8-1.5-5-3.1-6.6-4.9c-2.1-2.3-3.7-5.1-4.7-8.3C155.8,307.9,155.3,303.3,155.3,297.2z M191,297.3
                                       c0-4.1-0.2-7.2-0.6-9.1c-0.4-1.8-1.1-3.4-2.3-4.8c-0.8-1.3-2.1-2.3-3.8-3.1c-1.6-0.8-3.4-1.2-5.5-1.2c-2,0-3.8,0.4-5.4,1.2
                                       c-1.6,0.7-2.9,1.8-3.9,3.1c-1,1.4-1.7,3-2.2,4.8c-0.4,1.9-0.7,4.9-0.7,9c0,4,0.2,7,0.7,8.8c0.4,1.9,1.2,3.6,2.2,5
                                       c1,1.1,2.3,2.1,3.9,3c1.7,0.8,3.5,1.2,5.4,1.2c2.1,0,3.9-0.4,5.5-1.2c1.7-0.9,2.9-1.8,3.8-3c1.1-1.5,1.9-3.1,2.3-5
                                       C190.8,304.2,191,301.2,191,297.3z" />
                                <path class="logoSquare3" d="M213,269.6h-5.4c-0.1,0-0.2-0.1-0.2-0.2v-9.9c0-0.1,0.1-0.2,0.2-0.2h5.4c0.1,0,0.2-0.1,0.2-0.2v-8.6
                                       c0-6.4,1.5-11,4.5-14.1c2.9-2.8,6.6-4.2,11.1-4.2h7.2c0.1,0,0.2,0.1,0.2,0.2v12.2c0,0.1-0.1,0.2-0.2,0.2h-6.4
                                       c-3.5-0.1-5.1,1.7-5,5.6v8.7c0,0.1,0.1,0.2,0.2,0.2h11.2c0.1,0,0.2,0.1,0.2,0.2v9.9c0,0.1-0.1,0.2-0.2,0.2h-11.2
                                       c-0.1,0-0.2,0.1-0.2,0.2V326c0,0.1-0.1,0.2-0.2,0.2h-5.9c-3,0-5.4-2.7-5.4-6.1v-50.3C213.2,269.7,213.1,269.6,213,269.6z" />
                                <path class="logoSquare3" d="M250.5,301.6c0,4.7,1.3,8.2,4,10.6c2.5,2.5,5.7,3.7,9.7,3.7c4.7,0,8.8-1.9,12.5-5.6l8.3,7.2
                                       c-5.8,6.3-12.7,9.4-20.6,9.4c-3,0-6-0.4-8.8-1.3c-1.4-0.5-2.8-1.1-4.2-2c-1.4-0.7-2.8-1.6-4-2.6c-2.4-2.2-4.4-5.2-5.9-9
                                       c-1.7-3.7-2.5-8.6-2.5-14.5c0-5.7,0.7-10.5,2.2-14.3c1.4-3.9,3.3-6.9,5.5-9.2c2.3-2.3,4.8-3.9,7.7-4.9c2.8-1,5.5-1.5,8.3-1.5
                                       c6.5,0.1,12.1,2.3,16.6,6.5c4.6,4.4,6.9,10.3,7,18v9.6H250.5z M274.7,292c-0.1-4.5-1.3-7.9-3.6-10.3c-2.2-2.2-5-3.3-8.5-3.3
                                       c-3.5,0-6.3,1.1-8.5,3.3c-2.2,2.3-3.4,5.7-3.6,10.3H274.7z" />
                                <path class="logoSquare3" d="M295.1,268.3h11.5v6.1h0.2c3.8-4.6,8.8-6.9,14.9-6.9c4.6,0.1,8.6,1.6,12,4.4l-8.4,10.1
                                       c-2.4-1.9-5-2.9-7.6-2.9c-2.9,0-5.5,1-7.6,2.9c-2.4,1.9-3.6,5-3.6,9.2v34.9h-11.5V268.3z" />
                                <path class="logoSquare3" d="M343.2,238.9h5.8c3,0,5.4,2.8,5.4,6.1v14c0,0.1,0.1,0.3,0.2,0.3h7.9c0.1,0,0.2,0.1,0.2,0.3v9.8
                                       c0,0.1-0.1,0.3-0.2,0.3h-7.9c-0.1,0-0.2,0.1-0.2,0.3v38.8c-0.1,3.4,1.3,5.1,4.1,5h4.1c0.1,0,0.2,0.1,0.2,0.3v12.1
                                       c0,0.1-0.1,0.3-0.2,0.3h-5.8c-4,0-7.3-1.5-9.9-4.4c-2.6-2.8-4-6.8-4-12.1v-39.9c0-0.1-0.1-0.3-0.2-0.3h-5.3
                                       c-0.1,0-0.2-0.1-0.2-0.3v-9.8c0-0.1,0.1-0.3,0.2-0.3h5.3c0.1,0,0.2-0.1,0.2-0.3v-19.9C343,239,343.1,238.9,343.2,238.9z" />
                                <path class="logoSquare3" d="M403.2,321.1H403c-1,2-2.6,3.4-4.8,4.4c-2.1,1-5.1,1.5-8.9,1.5c-6.2-0.1-11-1.8-14.3-5.1
                                       c-3.5-3.3-5.3-7.5-5.3-12.6c0-4.9,1.5-8.9,4.6-12.1c3.1-3.3,7.6-4.9,13.5-5h15.5v-6.1c0.1-5.1-3.7-7.6-11.4-7.5
                                       c-2.8,0-5,0.3-6.6,0.9c-1.7,0.7-3,1.9-4,3.6l-8.8-7c4.2-5.8,10.5-8.6,18.8-8.4c7-0.1,12.6,1.3,16.7,4.1c4.2,2.9,6.3,7.9,6.4,15
                                       v39.6h-11.1V321.1z M403.2,301.6h-13.4c-6.5,0.1-9.7,2.5-9.6,7c0,2,0.8,3.6,2.5,5c1.6,1.5,4.3,2.3,8,2.3c4.7,0.1,8-0.5,9.9-1.7
                                       c1.8-1.2,2.6-4,2.6-8.4V301.6z" />
                                <path class="logoSquare3" d="M425.1,308.5c4.5,5,10.3,7.4,17.5,7.4c3.2,0,5.8-0.7,7.8-2c2-1.3,3-3.1,3-5.5c0-2.1-0.6-3.5-1.8-4.4
                                       c-1.2-0.9-2.9-1.3-5-1.4l-9.8-0.9c-4.7-0.4-8.4-2.1-11.3-4.9c-3-2.8-4.5-6.6-4.6-11.6c0.1-6,2.1-10.4,6-13.4
                                       c3.8-3,8.7-4.5,14.6-4.5c2.6,0,4.8,0.2,6.9,0.5c2,0.4,3.9,0.9,5.7,1.6c3.4,1.5,6.5,3.4,9.2,5.9l-6.9,8.4c-2.1-1.6-4.4-2.9-6.8-4
                                       c-2.3-0.9-5-1.4-8.1-1.4c-3.5,0-5.9,0.7-7.3,2c-1.5,1.3-2.2,3-2.2,5c-0.1,1.3,0.5,2.4,1.7,3.4c1.1,1.1,2.9,1.8,5.6,2.1l9.2,0.7
                                       c5.8,0.4,9.9,2.3,12.5,5.5c2.4,3.1,3.6,7.1,3.6,11.9c-0.1,5.6-2.3,10-6.5,13c-4.3,3.1-9.7,4.7-16.3,4.8c-9,0-17.1-3.5-24.3-10.4
                                       L425.1,308.5z" />
                                <ellipse class="logoSquare4" cx="249.7" cy="142.4" rx="64.2" ry="64.9" />
                                <path class="logoSquare0" d="M363.5,97h-35.5V74.8h23.1c6.8,0,12.4,5.5,12.4,12.4V97z" />
                                <ellipse class="logoSquare5" cx="250.2" cy="142.4" rx="50.7" ry="51.2" />
                                <ellipse class="logoSquare0" cx="217.2" cy="142.4" rx="9.3" ry="9.4" />
                            </svg>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% if user.is_authenticated %}
                                <h3>Bienvenido {{ user.nombre }} lamentamos las molestias</h3>
                                <h4><a href="{% url 'webapp:logout' %}">Cerrar sesión</a></h4>
                            {% endif %}
                            <h3>Sitio en construcción</h3>
                            <h5>Regresa más tarde</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/functions.js'%}"></script>
</body>

</html>
