{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="SHORTCUT ICON" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/breakpoints.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.green.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

    <title>Fotofertas</title>
</head>

<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-5 logoContainer">
                        <svg x="0px" y="0px" viewBox="0 0 474 77">
                            <path class="fotOfertasLogo0" d="M124.9,30.2h-4.5c-0.1,0-0.1-0.1-0.1-0.2v-8.1c0-0.1,0.1-0.2,0.1-0.2h4.5c0.1,0,0.1-0.1,0.1-0.2v-7.1
			c0-5.2,1.2-9.1,3.7-11.5c2.4-2.3,5.5-3.4,9.2-3.4h6c0.1,0,0.1,0.1,0.1,0.2v10c0,0.1-0.1,0.2-0.1,0.2h-5.3
			c-2.9-0.1-4.2,1.4-4.1,4.6v7.1c0,0.1,0.1,0.2,0.1,0.2h9.3c0.1,0,0.1,0.1,0.1,0.2v8.1c0,0.1-0.1,0.2-0.1,0.2h-9.3
			c-0.1,0-0.1,0.1-0.1,0.2v46.1c0,0.1-0.1,0.2-0.1,0.2h-4.9c-2.5,0-4.5-2.3-4.5-5V30.4C125,30.3,125,30.2,124.9,30.2z" />
                            <path class="fotOfertasLogo0" d="M148.1,52.9c0-5,0.4-8.9,1.2-11.6c0.9-2.6,2.2-4.8,3.9-6.6c1.3-1.6,3.1-3,5.5-4.2c2.3-1.2,5.3-1.8,8.9-1.9
			c3.7,0.1,6.8,0.7,9.1,1.9c2.3,1.3,4,2.7,5.3,4.3c1.9,1.8,3.2,4,4,6.6c0.8,2.7,1.1,6.5,1.1,11.5s-0.4,8.8-1.1,11.4
			c-0.8,2.6-2.1,4.9-4,6.8c-0.6,0.7-1.4,1.4-2.2,2.1c-0.8,0.8-1.8,1.4-3.1,2c-2.3,1.3-5.3,2-9.1,2.1c-3.6-0.1-6.6-0.7-8.9-2.1
			c-2.3-1.2-4.2-2.5-5.5-4c-1.8-1.9-3.1-4.2-3.9-6.8C148.5,61.7,148.1,57.9,148.1,52.9z M177.6,53c0-3.4-0.2-5.9-0.5-7.4
			s-0.9-2.8-1.9-4c-0.7-1.1-1.7-1.9-3.1-2.5c-1.3-0.6-2.8-1-4.6-1c-1.6,0-3.1,0.3-4.5,1c-1.3,0.6-2.4,1.5-3.2,2.5
			c-0.8,1.1-1.4,2.5-1.8,4c-0.4,1.6-0.5,4-0.5,7.3s0.2,5.7,0.5,7.3c0.4,1.6,1,2.9,1.8,4.1c0.8,0.9,1.9,1.7,3.2,2.4
			c1.4,0.7,2.9,1,4.5,1c1.7,0,3.3-0.3,4.6-1c1.4-0.7,2.4-1.5,3.1-2.4c0.9-1.2,1.6-2.6,1.9-4.1C177.5,58.6,177.6,56.2,177.6,53z" />
                            <path class="fotOfertasLogo0" d="M197.2,5.1h5c2.5,0,4.5,2.3,4.5,5.1v11.6h6.9v8.5h-6.9v32c-0.1,2.8,1.1,4.1,3.4,4.1h3.6v10.4h-5
			c-3.3,0-6.1-1.2-8.2-3.6c-2.2-2.3-3.3-5.6-3.3-9.9V30.2h-4.8v-8.5h4.8V5.1z" />
                            <path class="fotOfertasLogo0" d="M219.4,52.9c0-5,0.4-8.9,1.2-11.6c0.9-2.6,2.2-4.8,3.9-6.6c1.3-1.6,3.1-3,5.5-4.2c2.3-1.2,5.3-1.8,8.9-1.9
			c3.7,0.1,6.8,0.7,9.1,1.9c2.3,1.3,4,2.7,5.3,4.3c1.9,1.8,3.2,4,4,6.6c0.8,2.7,1.1,6.5,1.1,11.5s-0.4,8.8-1.1,11.4
			c-0.8,2.6-2.1,4.9-4,6.8c-0.6,0.7-1.4,1.4-2.2,2.1c-0.8,0.8-1.8,1.4-3.1,2c-2.3,1.3-5.3,2-9.1,2.1c-3.6-0.1-6.6-0.7-8.9-2.1
			c-2.3-1.2-4.2-2.5-5.5-4c-1.8-1.9-3.1-4.2-3.9-6.8C219.8,61.7,219.4,57.9,219.4,52.9z M249,53c0-3.4-0.2-5.9-0.5-7.4
			s-0.9-2.8-1.9-4c-0.7-1.1-1.7-1.9-3.1-2.5c-1.3-0.6-2.8-1-4.6-1c-1.6,0-3.1,0.3-4.5,1c-1.3,0.6-2.4,1.5-3.2,2.5
			c-0.8,1.1-1.4,2.5-1.8,4c-0.4,1.6-0.5,4-0.5,7.3s0.2,5.7,0.5,7.3c0.4,1.6,1,2.9,1.8,4.1c0.8,0.9,1.9,1.7,3.2,2.4
			c1.4,0.7,2.9,1,4.5,1c1.7,0,3.3-0.3,4.6-1c1.4-0.7,2.4-1.5,3.1-2.4c0.9-1.2,1.6-2.6,1.9-4.1C248.8,58.6,249,56.2,249,53z" />
                            <path class="fotOfertasLogo0" d="M267.2,30.2h-4.5c-0.1,0-0.2-0.1-0.2-0.2v-8c0-0.1,0.1-0.2,0.2-0.2h4.5c0.1,0,0.2-0.1,0.2-0.2v-7.1
			c0-5.2,1.2-9.1,3.7-11.5c2.4-2.3,5.5-3.4,9.2-3.4h6c0.1,0,0.2,0.1,0.2,0.2v10c0,0.1-0.1,0.2-0.2,0.2H281c-2.9-0.1-4.2,1.4-4.1,4.6
			v7.1c0,0.1,0.1,0.2,0.2,0.2h9.2c0.1,0,0.2,0.1,0.2,0.2V30c0,0.1-0.1,0.2-0.2,0.2h-9.2c-0.1,0-0.2,0.1-0.2,0.2v46.1
			c0,0.1-0.1,0.2-0.2,0.2h-4.9c-2.4,0-4.4-2.2-4.4-5V30.4C267.4,30.3,267.3,30.2,267.2,30.2z" />
                            <path class="fotOfertasLogo0" d="M298.2,56.5c0,3.8,1.1,6.7,3.3,8.7c2,2,4.7,3,8,3c3.9,0,7.3-1.5,10.4-4.6l6.9,5.9c-4.8,5.2-10.5,7.7-17.1,7.7
			c-2.5,0-4.9-0.4-7.3-1.1c-1.2-0.4-2.3-0.9-3.5-1.6c-1.2-0.6-2.3-1.3-3.3-2.2c-2-1.8-3.6-4.2-4.9-7.4c-1.4-3.1-2.1-7-2.1-11.9
			c0-4.7,0.6-8.6,1.8-11.7c1.2-3.2,2.7-5.7,4.6-7.5c1.9-1.9,4-3.2,6.3-4s4.6-1.2,6.8-1.2c5.4,0.1,10,1.8,13.7,5.4
			c3.8,3.6,5.7,8.5,5.8,14.7v7.9h-29.4V56.5z M318.3,48.7c-0.1-3.7-1.1-6.5-3-8.4c-1.8-1.8-4.2-2.7-7-2.7c-2.9,0-5.2,0.9-7,2.7
			c-1.8,1.9-2.8,4.7-3,8.4C298.3,48.7,318.3,48.7,318.3,48.7z" />
                            <path class="fotOfertasLogo0" d="M335.2,29.2h9.5v5h0.2c3.1-3.8,7.2-5.6,12.3-5.6c3.8,0.1,7.1,1.3,10,3.6l-6.9,8.3c-2-1.6-4.1-2.4-6.3-2.4
			c-2.4,0-4.5,0.8-6.3,2.4c-2,1.6-3,4.1-3,7.6v28.6h-9.5L335.2,29.2L335.2,29.2z" />
                            <path class="fotOfertasLogo0" d="M375,5.1h4.8c2.5,0,4.5,2.3,4.5,5v11.5c0,0.1,0.1,0.2,0.2,0.2h6.6c0.1,0,0.2,0.1,0.2,0.2v8
			c0,0.1-0.1,0.2-0.2,0.2h-6.6c-0.1,0-0.2,0.1-0.2,0.2v31.8c-0.1,2.8,1.1,4.1,3.4,4.1h3.4c0.1,0,0.2,0.1,0.2,0.2v9.9
			c0,0.1-0.1,0.2-0.2,0.2h-4.8c-3.3,0-6.1-1.2-8.2-3.6c-2.2-2.3-3.3-5.6-3.3-9.9V30.4c0-0.1-0.1-0.2-0.2-0.2h-4.4
			c-0.1,0-0.2-0.1-0.2-0.2v-8c0-0.1,0.1-0.2,0.2-0.2h4.4c0.1,0,0.2-0.1,0.2-0.2V5.3C374.8,5.2,374.9,5.1,375,5.1z" />
                            <path class="fotOfertasLogo0" d="M424.7,72.5h-0.2c-0.9,1.6-2.2,2.8-4,3.6c-1.8,0.8-4.2,1.2-7.4,1.2c-5.1-0.1-9.1-1.5-11.9-4.2
			c-2.9-2.7-4.4-6.1-4.4-10.3c0-4,1.3-7.3,3.8-9.9c2.5-2.7,6.3-4.1,11.2-4.1h12.8v-5c0.1-4.2-3.1-6.2-9.4-6.1
			c-2.3,0-4.1,0.2-5.4,0.7c-1.4,0.6-2.5,1.6-3.3,2.9l-7.3-5.7c3.5-4.7,8.7-7,15.5-6.9c5.8-0.1,10.4,1.1,13.9,3.4
			c3.5,2.4,5.2,6.5,5.3,12.3v32.5h-9.2V72.5z M424.7,56.5h-11.1c-5.4,0.1-8,2-8,5.7c0,1.6,0.7,3,2.1,4.1c1.3,1.3,3.5,1.9,6.6,1.9
			c3.9,0.1,6.6-0.4,8.2-1.4c1.4-1,2.2-3.3,2.2-6.9L424.7,56.5L424.7,56.5z" />
                            <path class="fotOfertasLogo0" d="M442.8,62.2c3.7,4.1,8.6,6.1,14.5,6.1c2.6,0,4.8-0.5,6.5-1.6s2.5-2.6,2.5-4.5c0-1.7-0.5-2.9-1.5-3.6
			c-1-0.7-2.4-1.1-4.1-1.1l-8.1-0.7c-3.9-0.4-7-1.7-9.4-4c-2.5-2.3-3.7-5.4-3.8-9.5c0.1-4.9,1.7-8.5,5-11c3.2-2.4,7.2-3.7,12.1-3.7
			c2.1,0,4,0.1,5.7,0.4s3.2,0.7,4.7,1.3c2.8,1.2,5.3,2.8,7.6,4.8l-5.7,6.9c-1.8-1.3-3.6-2.4-5.6-3.3c-1.9-0.8-4.2-1.2-6.7-1.2
			c-2.9,0-4.9,0.5-6,1.6c-1.2,1.1-1.8,2.4-1.8,4.1c-0.1,1.1,0.4,2,1.4,2.8c0.9,0.9,2.4,1.5,4.7,1.7l7.6,0.6
			c4.8,0.4,8.2,1.9,10.3,4.5c2,2.6,3,5.8,3,9.8c-0.1,4.6-1.9,8.2-5.4,10.7c-3.5,2.6-8,3.9-13.5,3.9c-7.5,0-14.2-2.8-20.1-8.5
			L442.8,62.2z" />
                            <path class="fotOfertasLogo1" d="M105,77.2H21C9.7,77.2,0.5,68,0.5,56.7V12.6H105V77.2z" />
                            <rect x="0.5" y="12.6" class="fotOfertasLogo2" width="104.5" height="24.7" />
                            <rect x="4.1" y="-0.4" class="fotOfertasLogo1" width="15.2" height="9.4" />
                            <circle class="fotOfertasLogo3" cx="52.5" cy="44.9" r="27.6" />
                            <path class="fotOfertasLogowhite" d="M101.4,25.6H86.2v-9.4h9.5c3.2,0,5.7,2.6,5.7,5.7C101.4,21.9,101.4,25.6,101.4,25.6z" />
                            <circle class="fotOfertasLogo4" cx="52.7" cy="44.9" r="21.8" />
                            <circle class="fotOfertasLogowhite" cx="38.6" cy="44.9" r="4" />
                        </svg>
                    </div>
                    <div class="d-xl-none d-lg-none col-md-2 col-sm-2 col-2 shoppingCartContainer">
                        <a href="#" onclick="toggle_visibility('notificationDrawer')">
                            <i class="fas fa-bell">
                                <div class="amountContainer">5</div>
                            </i>
                        </a>
                        <div id="notificationDrawer" class="notificationContainer">
                            <div class="row notificationContent">
                                <div class="col-12 notification">
                                    <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                </div>
                                <div class="col-12 notification">
                                    <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                </div>
                                <div class="col-12 notification">
                                    <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                </div>
                                <div class="col-12 notification">
                                    <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                </div>
                                <div class="col-12 notification">
                                    <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-xl-none d-lg-none col-md-3 col-sm-3 col-3 shoppingCartContainer">
                        <a href="#">
                            <i class="fas fa-shopping-cart">
                                <div class="amountContainer">5</div>
                            </i>
                        </a>
                    </div>
                    <div class="d-xl-none d-lg-none col-md-2 col-sm-2 col-2 toggleMobileMenu">
                        <a href="#" onclick="showMobileMenu(event);">
                            <svg x="0px" y="0px" viewBox="0 0 141 47">
                                <path class="toggleMobile" d="M136,10H75.5c-2.8,0-5-2.2-5-5v0c0-2.8,2.2-5,5-5H136c2.8,0,5,2.2,5,5v0C141,7.8,138.8,10,136,10z" />
                                <path class="toggleMobile" d="M136,28.5H40.5c-2.8,0-5-2.2-5-5v0c0-2.8,2.2-5,5-5H136c2.8,0,5,2.2,5,5v0C141,26.3,138.8,28.5,136,28.5z" />
                                <path class="toggleMobile" d="M136,47H5c-2.8,0-5-2.2-5-5v0c0-2.8,2.2-5,5-5h131c2.8,0,5,2.2,5,5v0C141,44.8,138.8,47,136,47z" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="input-group mb-4 categoryDropContainer">
                            <div class="input-group-prepend">
                                <button class="btn dropdown-toggle generalBtn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</button>
                                <div class="dropdown-menu">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 cl-md-6 col-sm-6 col-6">
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 cl-md-6 col-sm-6 col-6">
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                            <a class="dropdown-item" href="#">Categoría</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn generalBtn" type="button">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-2 d-xl-block d-lg-block d-sm-none d-none shoppingCartContainer">
                                <a href="#" onclick="toggle_visibility('notificationDrawerMobile')">
                                    <i class="fas fa-bell">
                                        <div class="amountContainer">5</div>
                                    </i>
                                </a>
                                <div id="notificationDrawerMobile" class="notificationContainer">
                                    <div class="row notificationContent">
                                        <div class="col-12 notification">
                                            <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                        </div>
                                        <div class="col-12 notification">
                                            <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                        </div>
                                        <div class="col-12 notification">
                                            <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                        </div>
                                        <div class="col-12 notification">
                                            <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                        </div>
                                        <div class="col-12 notification">
                                            <p><a href="#">A Ana le gusta tu foto <i class="fas fa-circle"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 d-xl-block d-lg-block d-sm-none d-none shoppingCartContainer">
                                <a href="#">
                                    <i class="fas fa-shopping-cart">
                                        <div class="amountContainer">5</div>
                                    </i>
                                </a>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 loginContainer">
                                <a href="login.html" class="btn generalBtn">Login</a>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 signUpContainer">
                                <a href="registro.html" class="btn generalBtn">Regístrate</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <nav class="col-xl-12 col-lg-12 d-xl-block d-lg-block d-md-none d-sm-none d-none mainMenuContainer">
                        <ul class="row">
                            <li><a href="#">Sube tu foto</a></li>
                            <li><a href="#">Fotopartners</a></li>
                            <li><a href="#">Fotos exclusivas</a></li>
                            <li><a href="#">Fotos Gratuitas</a></li>
                            <li><a href="underConstruction.html">Blog</a></li>
                            <li><a href="underConstruction.html">Revista</a></li>
                            <li><a href="#contactFooter">Contáctanos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 centerDiv">
                        <div class="row constructionTitle">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h1>Estamos trabajando para ti.</h1>
                            </div>
                        </div>
                        <div class="row underConstructionRow">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <img src="{% static 'images/underConstLogo.svg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="contactFooter" class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 footerMenu">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h3>Avisos</h3>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <a href="#">Envíos</a>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <a href="#">Aviso de privacidad</a>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <a href="#">Preguntas Frecuentes</a>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <a href="#">Términos y condiciones</a>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <a href="#">Contrato Fotógrafo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 footerMenu">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h3>Contáctanos</h3>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <p>El Olivo 16, col. El Olivo, <br>Naucalpan de Juárez, <br>Estado de México, C.P. 52789
                                </p>
                                <a href="tel:5522806936">55 2280 6936</a><br>
                                <a href="mailto:contacto@fotofertas.com">contacto@fotofertas.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 footerLogoContainer">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <svg x="0px" y="0px" viewBox="0 0 474 77">
                                    <path class="fotOfertasLogowhite" d="M124.9,30.2h-4.5c-0.1,0-0.1-0.1-0.1-0.2v-8.1c0-0.1,0.1-0.2,0.1-0.2h4.5c0.1,0,0.1-0.1,0.1-0.2v-7.1
			c0-5.2,1.2-9.1,3.7-11.5c2.4-2.3,5.5-3.4,9.2-3.4h6c0.1,0,0.1,0.1,0.1,0.2v10c0,0.1-0.1,0.2-0.1,0.2h-5.3
			c-2.9-0.1-4.2,1.4-4.1,4.6v7.1c0,0.1,0.1,0.2,0.1,0.2h9.3c0.1,0,0.1,0.1,0.1,0.2v8.1c0,0.1-0.1,0.2-0.1,0.2h-9.3
			c-0.1,0-0.1,0.1-0.1,0.2v46.1c0,0.1-0.1,0.2-0.1,0.2h-4.9c-2.5,0-4.5-2.3-4.5-5V30.4C125,30.3,125,30.2,124.9,30.2z" />
                                    <path class="fotOfertasLogowhite" d="M148.1,52.9c0-5,0.4-8.9,1.2-11.6c0.9-2.6,2.2-4.8,3.9-6.6c1.3-1.6,3.1-3,5.5-4.2c2.3-1.2,5.3-1.8,8.9-1.9
			c3.7,0.1,6.8,0.7,9.1,1.9c2.3,1.3,4,2.7,5.3,4.3c1.9,1.8,3.2,4,4,6.6c0.8,2.7,1.1,6.5,1.1,11.5s-0.4,8.8-1.1,11.4
			c-0.8,2.6-2.1,4.9-4,6.8c-0.6,0.7-1.4,1.4-2.2,2.1c-0.8,0.8-1.8,1.4-3.1,2c-2.3,1.3-5.3,2-9.1,2.1c-3.6-0.1-6.6-0.7-8.9-2.1
			c-2.3-1.2-4.2-2.5-5.5-4c-1.8-1.9-3.1-4.2-3.9-6.8C148.5,61.7,148.1,57.9,148.1,52.9z M177.6,53c0-3.4-0.2-5.9-0.5-7.4
			s-0.9-2.8-1.9-4c-0.7-1.1-1.7-1.9-3.1-2.5c-1.3-0.6-2.8-1-4.6-1c-1.6,0-3.1,0.3-4.5,1c-1.3,0.6-2.4,1.5-3.2,2.5
			c-0.8,1.1-1.4,2.5-1.8,4c-0.4,1.6-0.5,4-0.5,7.3s0.2,5.7,0.5,7.3c0.4,1.6,1,2.9,1.8,4.1c0.8,0.9,1.9,1.7,3.2,2.4
			c1.4,0.7,2.9,1,4.5,1c1.7,0,3.3-0.3,4.6-1c1.4-0.7,2.4-1.5,3.1-2.4c0.9-1.2,1.6-2.6,1.9-4.1C177.5,58.6,177.6,56.2,177.6,53z" />
                                    <path class="fotOfertasLogowhite" d="M197.2,5.1h5c2.5,0,4.5,2.3,4.5,5.1v11.6h6.9v8.5h-6.9v32c-0.1,2.8,1.1,4.1,3.4,4.1h3.6v10.4h-5
			c-3.3,0-6.1-1.2-8.2-3.6c-2.2-2.3-3.3-5.6-3.3-9.9V30.2h-4.8v-8.5h4.8V5.1z" />
                                    <path class="fotOfertasLogowhite" d="M219.4,52.9c0-5,0.4-8.9,1.2-11.6c0.9-2.6,2.2-4.8,3.9-6.6c1.3-1.6,3.1-3,5.5-4.2c2.3-1.2,5.3-1.8,8.9-1.9
			c3.7,0.1,6.8,0.7,9.1,1.9c2.3,1.3,4,2.7,5.3,4.3c1.9,1.8,3.2,4,4,6.6c0.8,2.7,1.1,6.5,1.1,11.5s-0.4,8.8-1.1,11.4
			c-0.8,2.6-2.1,4.9-4,6.8c-0.6,0.7-1.4,1.4-2.2,2.1c-0.8,0.8-1.8,1.4-3.1,2c-2.3,1.3-5.3,2-9.1,2.1c-3.6-0.1-6.6-0.7-8.9-2.1
			c-2.3-1.2-4.2-2.5-5.5-4c-1.8-1.9-3.1-4.2-3.9-6.8C219.8,61.7,219.4,57.9,219.4,52.9z M249,53c0-3.4-0.2-5.9-0.5-7.4
			s-0.9-2.8-1.9-4c-0.7-1.1-1.7-1.9-3.1-2.5c-1.3-0.6-2.8-1-4.6-1c-1.6,0-3.1,0.3-4.5,1c-1.3,0.6-2.4,1.5-3.2,2.5
			c-0.8,1.1-1.4,2.5-1.8,4c-0.4,1.6-0.5,4-0.5,7.3s0.2,5.7,0.5,7.3c0.4,1.6,1,2.9,1.8,4.1c0.8,0.9,1.9,1.7,3.2,2.4
			c1.4,0.7,2.9,1,4.5,1c1.7,0,3.3-0.3,4.6-1c1.4-0.7,2.4-1.5,3.1-2.4c0.9-1.2,1.6-2.6,1.9-4.1C248.8,58.6,249,56.2,249,53z" />
                                    <path class="fotOfertasLogowhite" d="M267.2,30.2h-4.5c-0.1,0-0.2-0.1-0.2-0.2v-8c0-0.1,0.1-0.2,0.2-0.2h4.5c0.1,0,0.2-0.1,0.2-0.2v-7.1
			c0-5.2,1.2-9.1,3.7-11.5c2.4-2.3,5.5-3.4,9.2-3.4h6c0.1,0,0.2,0.1,0.2,0.2v10c0,0.1-0.1,0.2-0.2,0.2H281c-2.9-0.1-4.2,1.4-4.1,4.6
			v7.1c0,0.1,0.1,0.2,0.2,0.2h9.2c0.1,0,0.2,0.1,0.2,0.2V30c0,0.1-0.1,0.2-0.2,0.2h-9.2c-0.1,0-0.2,0.1-0.2,0.2v46.1
			c0,0.1-0.1,0.2-0.2,0.2h-4.9c-2.4,0-4.4-2.2-4.4-5V30.4C267.4,30.3,267.3,30.2,267.2,30.2z" />
                                    <path class="fotOfertasLogowhite" d="M298.2,56.5c0,3.8,1.1,6.7,3.3,8.7c2,2,4.7,3,8,3c3.9,0,7.3-1.5,10.4-4.6l6.9,5.9c-4.8,5.2-10.5,7.7-17.1,7.7
			c-2.5,0-4.9-0.4-7.3-1.1c-1.2-0.4-2.3-0.9-3.5-1.6c-1.2-0.6-2.3-1.3-3.3-2.2c-2-1.8-3.6-4.2-4.9-7.4c-1.4-3.1-2.1-7-2.1-11.9
			c0-4.7,0.6-8.6,1.8-11.7c1.2-3.2,2.7-5.7,4.6-7.5c1.9-1.9,4-3.2,6.3-4s4.6-1.2,6.8-1.2c5.4,0.1,10,1.8,13.7,5.4
			c3.8,3.6,5.7,8.5,5.8,14.7v7.9h-29.4V56.5z M318.3,48.7c-0.1-3.7-1.1-6.5-3-8.4c-1.8-1.8-4.2-2.7-7-2.7c-2.9,0-5.2,0.9-7,2.7
			c-1.8,1.9-2.8,4.7-3,8.4C298.3,48.7,318.3,48.7,318.3,48.7z" />
                                    <path class="fotOfertasLogowhite" d="M335.2,29.2h9.5v5h0.2c3.1-3.8,7.2-5.6,12.3-5.6c3.8,0.1,7.1,1.3,10,3.6l-6.9,8.3c-2-1.6-4.1-2.4-6.3-2.4
			c-2.4,0-4.5,0.8-6.3,2.4c-2,1.6-3,4.1-3,7.6v28.6h-9.5L335.2,29.2L335.2,29.2z" />
                                    <path class="fotOfertasLogowhite" d="M375,5.1h4.8c2.5,0,4.5,2.3,4.5,5v11.5c0,0.1,0.1,0.2,0.2,0.2h6.6c0.1,0,0.2,0.1,0.2,0.2v8
			c0,0.1-0.1,0.2-0.2,0.2h-6.6c-0.1,0-0.2,0.1-0.2,0.2v31.8c-0.1,2.8,1.1,4.1,3.4,4.1h3.4c0.1,0,0.2,0.1,0.2,0.2v9.9
			c0,0.1-0.1,0.2-0.2,0.2h-4.8c-3.3,0-6.1-1.2-8.2-3.6c-2.2-2.3-3.3-5.6-3.3-9.9V30.4c0-0.1-0.1-0.2-0.2-0.2h-4.4
			c-0.1,0-0.2-0.1-0.2-0.2v-8c0-0.1,0.1-0.2,0.2-0.2h4.4c0.1,0,0.2-0.1,0.2-0.2V5.3C374.8,5.2,374.9,5.1,375,5.1z" />
                                    <path class="fotOfertasLogowhite" d="M424.7,72.5h-0.2c-0.9,1.6-2.2,2.8-4,3.6c-1.8,0.8-4.2,1.2-7.4,1.2c-5.1-0.1-9.1-1.5-11.9-4.2
			c-2.9-2.7-4.4-6.1-4.4-10.3c0-4,1.3-7.3,3.8-9.9c2.5-2.7,6.3-4.1,11.2-4.1h12.8v-5c0.1-4.2-3.1-6.2-9.4-6.1
			c-2.3,0-4.1,0.2-5.4,0.7c-1.4,0.6-2.5,1.6-3.3,2.9l-7.3-5.7c3.5-4.7,8.7-7,15.5-6.9c5.8-0.1,10.4,1.1,13.9,3.4
			c3.5,2.4,5.2,6.5,5.3,12.3v32.5h-9.2V72.5z M424.7,56.5h-11.1c-5.4,0.1-8,2-8,5.7c0,1.6,0.7,3,2.1,4.1c1.3,1.3,3.5,1.9,6.6,1.9
			c3.9,0.1,6.6-0.4,8.2-1.4c1.4-1,2.2-3.3,2.2-6.9L424.7,56.5L424.7,56.5z" />
                                    <path class="fotOfertasLogowhite" d="M442.8,62.2c3.7,4.1,8.6,6.1,14.5,6.1c2.6,0,4.8-0.5,6.5-1.6s2.5-2.6,2.5-4.5c0-1.7-0.5-2.9-1.5-3.6
			c-1-0.7-2.4-1.1-4.1-1.1l-8.1-0.7c-3.9-0.4-7-1.7-9.4-4c-2.5-2.3-3.7-5.4-3.8-9.5c0.1-4.9,1.7-8.5,5-11c3.2-2.4,7.2-3.7,12.1-3.7
			c2.1,0,4,0.1,5.7,0.4s3.2,0.7,4.7,1.3c2.8,1.2,5.3,2.8,7.6,4.8l-5.7,6.9c-1.8-1.3-3.6-2.4-5.6-3.3c-1.9-0.8-4.2-1.2-6.7-1.2
			c-2.9,0-4.9,0.5-6,1.6c-1.2,1.1-1.8,2.4-1.8,4.1c-0.1,1.1,0.4,2,1.4,2.8c0.9,0.9,2.4,1.5,4.7,1.7l7.6,0.6
			c4.8,0.4,8.2,1.9,10.3,4.5c2,2.6,3,5.8,3,9.8c-0.1,4.6-1.9,8.2-5.4,10.7c-3.5,2.6-8,3.9-13.5,3.9c-7.5,0-14.2-2.8-20.1-8.5
			L442.8,62.2z" />
                                    <path class="fotOfertasLogo1" d="M105,77.2H21C9.7,77.2,0.5,68,0.5,56.7V12.6H105V77.2z" />
                                    <rect x="0.5" y="12.6" class="fotOfertasLogo2" width="104.5" height="24.7" />
                                    <rect x="4.1" y="-0.4" class="fotOfertasLogo1" width="15.2" height="9.4" />
                                    <circle class="fotOfertasLogo3" cx="52.5" cy="44.9" r="27.6" />
                                    <path class="fotOfertasLogowhite" d="M101.4,25.6H86.2v-9.4h9.5c3.2,0,5.7,2.6,5.7,5.7C101.4,21.9,101.4,25.6,101.4,25.6z" />
                                    <circle class="fotOfertasLogo4" cx="52.7" cy="44.9" r="21.8" />
                                    <circle class="fotOfertasLogowhite" cx="38.6" cy="44.9" r="4" />
                                </svg>
                            </div>
                        </div>
                        <div class="row contactRow">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h3>Contáctanos</h3>
                                    </div>
                                </div>
                                <form class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 checkboxContainer">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Acepto el <a href="#">Acuerdo de Privacidad</a></label>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn generalBtn"><i class="far fa-paper-plane"></i> Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="mobile" class="mobileNavContainer d-block d-md-block d-sm-block d-lg-none d-xl-none">
            <div class="row headerMobileContainer">
                <div class="col-6">
                    <svg x="0px" y="0px" viewBox="0 0 474 77">
                        <path class="fotOfertasLogowhite" d="M124.9,30.2h-4.5c-0.1,0-0.1-0.1-0.1-0.2v-8.1c0-0.1,0.1-0.2,0.1-0.2h4.5c0.1,0,0.1-0.1,0.1-0.2v-7.1
			c0-5.2,1.2-9.1,3.7-11.5c2.4-2.3,5.5-3.4,9.2-3.4h6c0.1,0,0.1,0.1,0.1,0.2v10c0,0.1-0.1,0.2-0.1,0.2h-5.3
			c-2.9-0.1-4.2,1.4-4.1,4.6v7.1c0,0.1,0.1,0.2,0.1,0.2h9.3c0.1,0,0.1,0.1,0.1,0.2v8.1c0,0.1-0.1,0.2-0.1,0.2h-9.3
			c-0.1,0-0.1,0.1-0.1,0.2v46.1c0,0.1-0.1,0.2-0.1,0.2h-4.9c-2.5,0-4.5-2.3-4.5-5V30.4C125,30.3,125,30.2,124.9,30.2z" />
                        <path class="fotOfertasLogowhite" d="M148.1,52.9c0-5,0.4-8.9,1.2-11.6c0.9-2.6,2.2-4.8,3.9-6.6c1.3-1.6,3.1-3,5.5-4.2c2.3-1.2,5.3-1.8,8.9-1.9
			c3.7,0.1,6.8,0.7,9.1,1.9c2.3,1.3,4,2.7,5.3,4.3c1.9,1.8,3.2,4,4,6.6c0.8,2.7,1.1,6.5,1.1,11.5s-0.4,8.8-1.1,11.4
			c-0.8,2.6-2.1,4.9-4,6.8c-0.6,0.7-1.4,1.4-2.2,2.1c-0.8,0.8-1.8,1.4-3.1,2c-2.3,1.3-5.3,2-9.1,2.1c-3.6-0.1-6.6-0.7-8.9-2.1
			c-2.3-1.2-4.2-2.5-5.5-4c-1.8-1.9-3.1-4.2-3.9-6.8C148.5,61.7,148.1,57.9,148.1,52.9z M177.6,53c0-3.4-0.2-5.9-0.5-7.4
			s-0.9-2.8-1.9-4c-0.7-1.1-1.7-1.9-3.1-2.5c-1.3-0.6-2.8-1-4.6-1c-1.6,0-3.1,0.3-4.5,1c-1.3,0.6-2.4,1.5-3.2,2.5
			c-0.8,1.1-1.4,2.5-1.8,4c-0.4,1.6-0.5,4-0.5,7.3s0.2,5.7,0.5,7.3c0.4,1.6,1,2.9,1.8,4.1c0.8,0.9,1.9,1.7,3.2,2.4
			c1.4,0.7,2.9,1,4.5,1c1.7,0,3.3-0.3,4.6-1c1.4-0.7,2.4-1.5,3.1-2.4c0.9-1.2,1.6-2.6,1.9-4.1C177.5,58.6,177.6,56.2,177.6,53z" />
                        <path class="fotOfertasLogowhite" d="M197.2,5.1h5c2.5,0,4.5,2.3,4.5,5.1v11.6h6.9v8.5h-6.9v32c-0.1,2.8,1.1,4.1,3.4,4.1h3.6v10.4h-5
			c-3.3,0-6.1-1.2-8.2-3.6c-2.2-2.3-3.3-5.6-3.3-9.9V30.2h-4.8v-8.5h4.8V5.1z" />
                        <path class="fotOfertasLogowhite" d="M219.4,52.9c0-5,0.4-8.9,1.2-11.6c0.9-2.6,2.2-4.8,3.9-6.6c1.3-1.6,3.1-3,5.5-4.2c2.3-1.2,5.3-1.8,8.9-1.9
			c3.7,0.1,6.8,0.7,9.1,1.9c2.3,1.3,4,2.7,5.3,4.3c1.9,1.8,3.2,4,4,6.6c0.8,2.7,1.1,6.5,1.1,11.5s-0.4,8.8-1.1,11.4
			c-0.8,2.6-2.1,4.9-4,6.8c-0.6,0.7-1.4,1.4-2.2,2.1c-0.8,0.8-1.8,1.4-3.1,2c-2.3,1.3-5.3,2-9.1,2.1c-3.6-0.1-6.6-0.7-8.9-2.1
			c-2.3-1.2-4.2-2.5-5.5-4c-1.8-1.9-3.1-4.2-3.9-6.8C219.8,61.7,219.4,57.9,219.4,52.9z M249,53c0-3.4-0.2-5.9-0.5-7.4
			s-0.9-2.8-1.9-4c-0.7-1.1-1.7-1.9-3.1-2.5c-1.3-0.6-2.8-1-4.6-1c-1.6,0-3.1,0.3-4.5,1c-1.3,0.6-2.4,1.5-3.2,2.5
			c-0.8,1.1-1.4,2.5-1.8,4c-0.4,1.6-0.5,4-0.5,7.3s0.2,5.7,0.5,7.3c0.4,1.6,1,2.9,1.8,4.1c0.8,0.9,1.9,1.7,3.2,2.4
			c1.4,0.7,2.9,1,4.5,1c1.7,0,3.3-0.3,4.6-1c1.4-0.7,2.4-1.5,3.1-2.4c0.9-1.2,1.6-2.6,1.9-4.1C248.8,58.6,249,56.2,249,53z" />
                        <path class="fotOfertasLogowhite" d="M267.2,30.2h-4.5c-0.1,0-0.2-0.1-0.2-0.2v-8c0-0.1,0.1-0.2,0.2-0.2h4.5c0.1,0,0.2-0.1,0.2-0.2v-7.1
			c0-5.2,1.2-9.1,3.7-11.5c2.4-2.3,5.5-3.4,9.2-3.4h6c0.1,0,0.2,0.1,0.2,0.2v10c0,0.1-0.1,0.2-0.2,0.2H281c-2.9-0.1-4.2,1.4-4.1,4.6
			v7.1c0,0.1,0.1,0.2,0.2,0.2h9.2c0.1,0,0.2,0.1,0.2,0.2V30c0,0.1-0.1,0.2-0.2,0.2h-9.2c-0.1,0-0.2,0.1-0.2,0.2v46.1
			c0,0.1-0.1,0.2-0.2,0.2h-4.9c-2.4,0-4.4-2.2-4.4-5V30.4C267.4,30.3,267.3,30.2,267.2,30.2z" />
                        <path class="fotOfertasLogowhite" d="M298.2,56.5c0,3.8,1.1,6.7,3.3,8.7c2,2,4.7,3,8,3c3.9,0,7.3-1.5,10.4-4.6l6.9,5.9c-4.8,5.2-10.5,7.7-17.1,7.7
			c-2.5,0-4.9-0.4-7.3-1.1c-1.2-0.4-2.3-0.9-3.5-1.6c-1.2-0.6-2.3-1.3-3.3-2.2c-2-1.8-3.6-4.2-4.9-7.4c-1.4-3.1-2.1-7-2.1-11.9
			c0-4.7,0.6-8.6,1.8-11.7c1.2-3.2,2.7-5.7,4.6-7.5c1.9-1.9,4-3.2,6.3-4s4.6-1.2,6.8-1.2c5.4,0.1,10,1.8,13.7,5.4
			c3.8,3.6,5.7,8.5,5.8,14.7v7.9h-29.4V56.5z M318.3,48.7c-0.1-3.7-1.1-6.5-3-8.4c-1.8-1.8-4.2-2.7-7-2.7c-2.9,0-5.2,0.9-7,2.7
			c-1.8,1.9-2.8,4.7-3,8.4C298.3,48.7,318.3,48.7,318.3,48.7z" />
                        <path class="fotOfertasLogowhite" d="M335.2,29.2h9.5v5h0.2c3.1-3.8,7.2-5.6,12.3-5.6c3.8,0.1,7.1,1.3,10,3.6l-6.9,8.3c-2-1.6-4.1-2.4-6.3-2.4
			c-2.4,0-4.5,0.8-6.3,2.4c-2,1.6-3,4.1-3,7.6v28.6h-9.5L335.2,29.2L335.2,29.2z" />
                        <path class="fotOfertasLogowhite" d="M375,5.1h4.8c2.5,0,4.5,2.3,4.5,5v11.5c0,0.1,0.1,0.2,0.2,0.2h6.6c0.1,0,0.2,0.1,0.2,0.2v8
			c0,0.1-0.1,0.2-0.2,0.2h-6.6c-0.1,0-0.2,0.1-0.2,0.2v31.8c-0.1,2.8,1.1,4.1,3.4,4.1h3.4c0.1,0,0.2,0.1,0.2,0.2v9.9
			c0,0.1-0.1,0.2-0.2,0.2h-4.8c-3.3,0-6.1-1.2-8.2-3.6c-2.2-2.3-3.3-5.6-3.3-9.9V30.4c0-0.1-0.1-0.2-0.2-0.2h-4.4
			c-0.1,0-0.2-0.1-0.2-0.2v-8c0-0.1,0.1-0.2,0.2-0.2h4.4c0.1,0,0.2-0.1,0.2-0.2V5.3C374.8,5.2,374.9,5.1,375,5.1z" />
                        <path class="fotOfertasLogowhite" d="M424.7,72.5h-0.2c-0.9,1.6-2.2,2.8-4,3.6c-1.8,0.8-4.2,1.2-7.4,1.2c-5.1-0.1-9.1-1.5-11.9-4.2
			c-2.9-2.7-4.4-6.1-4.4-10.3c0-4,1.3-7.3,3.8-9.9c2.5-2.7,6.3-4.1,11.2-4.1h12.8v-5c0.1-4.2-3.1-6.2-9.4-6.1
			c-2.3,0-4.1,0.2-5.4,0.7c-1.4,0.6-2.5,1.6-3.3,2.9l-7.3-5.7c3.5-4.7,8.7-7,15.5-6.9c5.8-0.1,10.4,1.1,13.9,3.4
			c3.5,2.4,5.2,6.5,5.3,12.3v32.5h-9.2V72.5z M424.7,56.5h-11.1c-5.4,0.1-8,2-8,5.7c0,1.6,0.7,3,2.1,4.1c1.3,1.3,3.5,1.9,6.6,1.9
			c3.9,0.1,6.6-0.4,8.2-1.4c1.4-1,2.2-3.3,2.2-6.9L424.7,56.5L424.7,56.5z" />
                        <path class="fotOfertasLogowhite" d="M442.8,62.2c3.7,4.1,8.6,6.1,14.5,6.1c2.6,0,4.8-0.5,6.5-1.6s2.5-2.6,2.5-4.5c0-1.7-0.5-2.9-1.5-3.6
			c-1-0.7-2.4-1.1-4.1-1.1l-8.1-0.7c-3.9-0.4-7-1.7-9.4-4c-2.5-2.3-3.7-5.4-3.8-9.5c0.1-4.9,1.7-8.5,5-11c3.2-2.4,7.2-3.7,12.1-3.7
			c2.1,0,4,0.1,5.7,0.4s3.2,0.7,4.7,1.3c2.8,1.2,5.3,2.8,7.6,4.8l-5.7,6.9c-1.8-1.3-3.6-2.4-5.6-3.3c-1.9-0.8-4.2-1.2-6.7-1.2
			c-2.9,0-4.9,0.5-6,1.6c-1.2,1.1-1.8,2.4-1.8,4.1c-0.1,1.1,0.4,2,1.4,2.8c0.9,0.9,2.4,1.5,4.7,1.7l7.6,0.6
			c4.8,0.4,8.2,1.9,10.3,4.5c2,2.6,3,5.8,3,9.8c-0.1,4.6-1.9,8.2-5.4,10.7c-3.5,2.6-8,3.9-13.5,3.9c-7.5,0-14.2-2.8-20.1-8.5
			L442.8,62.2z" />
                        <path class="fotOfertasLogo1" d="M105,77.2H21C9.7,77.2,0.5,68,0.5,56.7V12.6H105V77.2z" />
                        <rect x="0.5" y="12.6" class="fotOfertasLogo2" width="104.5" height="24.7" />
                        <rect x="4.1" y="-0.4" class="fotOfertasLogo1" width="15.2" height="9.4" />
                        <circle class="fotOfertasLogo3" cx="52.5" cy="44.9" r="27.6" />
                        <path class="fotOfertasLogowhite" d="M101.4,25.6H86.2v-9.4h9.5c3.2,0,5.7,2.6,5.7,5.7C101.4,21.9,101.4,25.6,101.4,25.6z" />
                        <circle class="fotOfertasLogo4" cx="52.7" cy="44.9" r="21.8" />
                        <circle class="fotOfertasLogowhite" cx="38.6" cy="44.9" r="4" />
                    </svg>
                </div>
                <div class="col-6 closeMenuContainer">
                    <a href="#" onclick="hideMobileMenu(event);"><i class="fas fa-times"></i></a>
                </div>
            </div>
            <ul class="row mobileNav">
                <li class="col-12"><a href="#">Súbe tu foto</a></li>
                <li class="col-12"><a href="#">Fotopartners</a></li>
                <li class="col-12"><a href="#">Fotos exclusivas</a></li>
                <li class="col-12"><a href="#">Fotos gratuitas</a></li>
                <li class="col-12"><a href="underConstruction.html">Blog</a></li>
                <li class="col-12"><a href="underConstruction.html">Revista</a></li>
                <li class="col-12"><a href="#contactFooter">Contáctanos</a></li>
            </ul>
            <div class="row mobileNetworks">
                <div class="col-3">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
                <div class="col-3">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>

                <div class="col-3">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>

                <div class="col-3">
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="socialsContainer d-xl-block d-lg-block d-md-none d-sm-none d-none">
        <ul class="socialsContent">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/functions.js"></script>
</body>

</html>
