<!--   SOFTIC SOLUTIONS   -->
{% extends 'config/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.css' %}"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h1>{{ titulo }}</h1>
            <p>{% if instrucciones %}{{ instrucciones }}{% endif %}</p>
        </div>
    </div>
    {% if url_nuevo %}
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 offset-xl-8 offset-lg-8 offset-md-8">
                <a href="{{ url_nuevo }}" class="btn generalBtn"><i class="fas fa-plus"> {{ btn_nuevo }}</i></a>
            </div>
        </div>
    {% endif %}

    <!-- aquí va el contenido de la tabla -->
    <div class="row tableContainer">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table-responsive">
            <table id="tabla" class="table table-striped table-hover">
                <thead>
                <tr>
                    {% for encabezado in encabezados %}
                        <th {% if not encabezado.1 %}data-orderable="false"{% endif %}>{{ encabezado.0 }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% block datos_tabla %} {% endblock %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    {% block modal %}
    {% endblock %}
    <!-- fin del modal -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/crsfajax.js' %}"></script>
    {% if script_extra %}
    <script src="{{ script_extra }}"></script>
    {% endif %}
    <!--<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
            integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
            crossorigin="anonymous"></script>-->
    <script type="text/javascript">

        {% block scripts_tabla %}
            function cambiar_estatus(id) {
                $.ajax({
                    url: "{{ url_update_estatus }}"+id,
                    data: {pk: id},
                    type: "POST", // http method
                    // handle a successful response
                    success: function (aData) {
                        $('#tabla').dataTable()._fnAjaxUpdate();
                    },

                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        alert("Ocurrio un error: " + xhr.responseJSON.Error);
                        $('#tabla').dataTable()._fnAjaxUpdate();
                    }
                });
            }

        {% endblock %}

        var id = 0;

        $(document).ready(function () {

            tabla = $('#tabla').DataTable({
                dom: 'lBfrtip',
                language: {
                    url: "{% static "datatables/spanish.json" %}"
                },
                //buttons: ['copy', 'excel', 'pdf', 'csv', 'print'],
                buttons: {
                    dom: {
                        button: {
                            tag: 'div',
                            className: 'col-xl-3 col-lg-3 co-md-3 col-sm-6 col-6'
                        },
                        container: {
                            tag: 'div',
                            className: 'row'
                        },
                        buttonLiner: {
                            tag: null
                        }
                    },
                    buttons: [


                        {
                            extend: 'copyHtml5',
                            text: '<a href="#" class="btn generalBtn"><i class="far fa-copy"></i> Copiar</a>',
                            title: '{{ titulo }}',
                            titleAttr: 'Copiar',
                            exportOptions: {
                                columns: [0, 1]
                            }
                        },

                        {
                            extend: 'pdfHtml5',
                            text: '<a href="#" class="btn generalBtn"><i class="far fa-file-pdf"></i> PDF</a>',
                            title: 'Titulo de tabla en pdf',
                            titleAttr: 'PDF',
                            exportOptions: {
                                columns: [0, 1]
                            },
                            customize: function (doc) {

                                doc.styles.title = {
                                    color: '#4c8aa0',
                                    fontSize: '30',
                                    alignment: 'center'
                                },
                                doc.styles['td:nth-child(2)'] = {
                                    width: '100px',
                                    'max-width': '100px'
                                },
                                    doc.styles.tableHeader = {
                                        fillColor: '#4c8aa0',
                                        color: 'white',
                                        alignment: 'center'
                                    },
                                    doc.content[1].margin = [100, 0, 100, 0]

                            }

                        },

                        {
                            extend: 'excelHtml5',
                            text: '<a href="#" class="btn generalBtn"><i class="far fa-file-excel"></i> Excel</a>',
                            title: '{{ titulo_tabla }}',
                            titleAttr: 'Excel',
                            exportOptions: {
                                columns: [0, 1]
                            },
                        },
                        {
                            extend: 'print',
                            text: '<a href="#" class="btn generalBtn"><i class="fas fa-print"></i> Print</a>',
                            title: '{{ titulo_tabla }}',
                            titleAttr: 'Imprimir',
                            exportOptions: {
                                columns: [0, 1]
                            }
                        },
                    ]
                },
                processing: true,
                serverSide: true,
                ajax: "{{ url_ajax }}"
            });

            $("#buscar").on('keyup', function () {
                $('#usuarios').dataTable().fnFilter(this.value);
            });


        });

    </script>
{% endblock %}

