<!--   SOFTIC SOLUTIONS   -->
{% extends 'config/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.css' %}"/>
{% endblock %}
{% block content %}

        {% block titulo_tabla %}{% endblock %}
        <!-- aquí va el contenido de la tabla -->


        <div class="container-fluid">
        <div class="row tableContainer">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table-responsive">
                <table id="tabla" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            {% block campos %}{% endblock %}
                        </tr>
                    </thead>
                    <tbody>
                        {% block datos_tabla %} {% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->
    {% block modal %}

        <div id="modal1" class="modal">
            <div class="modal-content">
                <p>¿Seguro que deseas eliminarlo?</p>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
                <a onclick="eliminar()" class="modal-action modal-close waves-effect btn-flat">Aceptar</a>
            </div>
        </div>
    {% endblock %}
    <!-- fin del modal -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/crsfajax.js' %}"></script>
    <!--<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
            integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
            crossorigin="anonymous"></script>-->
    <script type="text/javascript">
        {% block scripts_tabla %}
        {% endblock %}

        var id = 0;

        $(document).ready(function () {

            tabla = $('#tabla').DataTable({
                dom: 'lBfrtip',
                language: {
                    url: "{% static "datatables/spanish.json" %}"
                },
                //buttons: ['copy', 'excel', 'pdf', 'csv', 'print'],
                {% comment %}buttons: {
                    dom: {
                        container: {
                            tag: 'div',
                            className: 'flexcontent'
                        },
                        buttonLiner: {
                            tag: null
                        }
                    },
                    buttons: [


                        {
                            extend: 'copyHtml5',
                            text: '<i class="material-icons">file_copy</i><br/>Copy',
                            title: '{{ titulo_tabla }}',
                            titleAttr: 'Copiar',
                            className: 'btn btn-app export barras btncopy',
                            exportOptions: {
                                columns: [0, 1]
                            }
                        },

                        {
                            extend: 'pdfHtml5',
                            text: '<i class="material-icons">picture_as_pdf</i><br/>PDF',
                            title: 'Titulo de tabla en pdf',
                            titleAttr: 'PDF',
                            className: 'btn btn-app export pdf btnpdf',
                            exportOptions: {
                                columns: [0, 1]
                            },
                            customize: function (doc) {

                                doc.styles.title = {
                                    color: '#4c8aa0',
                                    fontSize: '30',
                                    alignment: 'center'
                                }
                                doc.styles['td:nth-child(2)'] = {
                                    width: '100px',
                                    'max-width': '100px'
                                },
                                    doc.styles.tableHeader = {
                                        fillColor: '#4c8aa0',
                                        color: 'white',
                                        alignment: 'center'
                                    },
                                    doc.content[1].margin = [100, 0, 100, 0]

                            }

                        },

                        {
                            extend: 'excelHtml5',
                            text: '<i class="material-icons">explicit</i><br/>Excel',
                            title: '{{ titulo_tabla }}',
                            titleAttr: 'Excel',
                            className: 'btn btn-app export excel btnexcel',
                            exportOptions: {
                                columns: [0, 1]
                            },
                        },
                        {
                            extend: 'print',
                            text: '<i class="material-icons">print</i><br/>Print',
                            title: '{{ titulo_tabla }}',
                            titleAttr: 'Imprimir',
                            className: 'btn btn-app export imprimir btnprint',
                            exportOptions: {
                                columns: [0, 1]
                            }
                        },
                    ]
                },{% endcomment %}
                processing: true,
                serverSide: true,
                ajax: "{% block url_ajax %}{% endblock %}"
            });

            $("#buscar").on('keyup', function () {
                $('#usuarios').dataTable().fnFilter(this.value);
            });



        });

    </script>
{% endblock %}

