{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
    .card-height {
        min-height: 190px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'administrador:list_ventas' %}">
            <div class="card card-height">
                <div class="card-body">
                    <br><br>
                  <h2 class="card-title text-center align-middle">Ventas</h2>
                </div>
              </div>
            </a>
        </div>
        <div class="col">
            <a href="">
            <div class="card card-height">
                <div class="card-body">
                    <br><br>
                    <h2 class="card-title text-center align-middle">Usuarios</h2>
                </div>
              <div id="list_usuarios">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>
            </div>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'administrador:list_aprobar_foto' %}">
            <div class="card card-height">
                <div class="card-body">
                    <br><br>
                    <h2 class="card-title text-center align-middle">Aprobar fotografías</h2>
                </div>
            </div>
            </a>
        </div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col">
            <a href="{% url 'administrador:list_historial_ventas' %}">
                <div class="card card-height">
                    <div class="card-body">
                        <br><br>
                        <h2 class="card-title text-center align-middle">Historial de ventas</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-8">
            <a href="{% url 'administrador:admin_catalogo' %}">
                <div class="card card-height">
                    <div class="card-body">
                        <br><br>
                        <h2 class="card-title text-center align-middle">Catálogos</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row" style="padding-top: 20px; padding-bottom: 20px">
        <div class="col-8"><a href="">
            <div class="card card-height">
                <div class="card-body">
                    <br><br>
                    <h2 class="card-title text-center align-middle">Estadísticas</h2>
                </div>
            </div>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'administrador:list_personal_administrativo' %}">
            <div class="card card-height">
                <div class="card-body">
                    <br><br>
                    <h2 class="card-title text-center align-middle">Personal</h2>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}